<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XCED1RTCC7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XCED1RTCC7');
    </script>
    @*<meta name="viewport" content="width=device-width" />*@
    @*<title>@ViewBag.Title</title>*@

    <title>Pharma</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @*<link rel="icon" type="image/x-icon" href="~/favicon.ico">*@
    @*<link rel="shortcut icon" href="~/favicon.ico" />*@

    <link rel="stylesheet" href="~/lib/pharma/css/bootstrap.min.css" tppabs="http://webdesign-finder.com/html/pharma/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/pharma/css/animations.css" tppabs="http://webdesign-finder.com/html/pharma/css/animations.css">
    <link rel="stylesheet" href="~/lib/pharma/css/fonts.css" tppabs="http://webdesign-finder.com/html/pharma/css/fonts.css">
    <link rel="stylesheet" href="~/lib/pharma/css/main.css" tppabs="http://webdesign-finder.com/html/pharma/css/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="~/lib/pharma/css/shop.css" tppabs="http://webdesign-finder.com/html/pharma/css/shop.css">
    @*<link href="~/lib/pharma/css/flags.css" rel="stylesheet" />*@
    <script src="~/lib/pharma/js/vendor/modernizr-2.6.2.min.js" tppabs="http://webdesign-finder.com/html/pharma/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/lib/pharma/js/vendor/html5shiv.min.js" tppabs="http://webdesign-finder.com/html/pharma/js/vendor/html5shiv.min.js"></script>
        <script src="~/lib/pharma/js/vendor/respond.min.js" tppabs="http://webdesign-finder.com/html/pharma/js/vendor/respond.min.js"></script>
        <script src="~/lib/pharma/js/vendor/jquery-1.12.4.min.js" tppabs="http://webdesign-finder.com/html/pharma/js/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
    @{
        string GetLangDictionary()
        {
            return "salam";
        }
    }

</head>
<body>
    <!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="javascript:if(confirm(%27http://browsehappy.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://browsehappy.com/%27" tppabs="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
        <div class="widget widget_search">
            <form method="get" class="searchform search-form form-inline" action="http://webdesign-finder.com/html/pharma/">
                <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button">Search</button>
            </form>
        </div>
    </div>
    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">
            <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            @*<ul class="list-unstyled">
                    <li>Are you a healthcare professional?</li>
                </ul>
                <button id="ModalYes" value="Yes"></button>
                <button id="ModalNo" value="No"></button>*@
        </div>
    </div>
    <!-- eof .modal -->
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">
            <!-- template sections -->
            <section class="page_topline cs main_color2 table_section table_section_sm section_padding_top_5 section_padding_bottom_5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 text-center text-sm-left">
                            <div>
                                <div style="border:1px;border-color:blue;"></div>
                                <i class="fa fa-clock-o rightpadding_5" aria-hidden="true"></i>
                                @ViewBag.DictStr[0][@ViewBag.LanguageID]
                            </div>
                        </div>
                        <div class="col-sm-4 text-center text-sm-right greylinks">
                            <span class="rightpadding_10">
                                @ViewBag.DictStr[1][@ViewBag.LanguageID]
                            </span>
                            <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                            <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                            <a class="social-icon color-icon soc-google" href="#" title="Twitter"></a>
                            <a class="social-icon color-icon soc-linkedin" href="#" title="Twitter"></a>
                            <a class="social-icon color-icon soc-youtube" href="#" title="Youtube"></a>

                            &nbsp;&nbsp;&nbsp;
                            @if (@ViewBag.Language != "en")
                            {
                                <a href="javascript:ChangeLanguage('@ViewBag.Language', 'en');" alt="English" title="English" target="_self">EN</a>
                            }
                            @if (@ViewBag.Language != "az")
                            {
                                <a href="javascript:ChangeLanguage('@ViewBag.Language', 'az');" alt="Azerbaijani" title="Azerbaijani" target="_self">AZ</a>
                            }
                            @if (@ViewBag.Language != "ru")
                            {
                                @*<a href="javascript:ChangeLanguage('@ViewBag.Language', 'ru');" alt="Russian" title="Russian" target="_self">RU</a>*@
                                <a href="#" alt="Russian" title="Russian" target="_self">RU</a>
                            }

                        </div>
                    </div>
                </div>
            </section>

            <style>
                #MyDiv {
                    /*background-image: radial-gradient(white, #19bcdb, #11333a 90%);
                    border-radius: 15px;*/
                }

                    #MyDiv:hover {
                    }

                #MyImg {
                    /*transition: transform 1s;*/
                    height: 80px !important;
                }
                /*#MyImg:hover {
                        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
                    }*/
            </style>
            <header id="HeaderMenu" class="page_header header_color header_darkgrey header_transparent toggler_right section_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 display_table">
                            <div class="header_left_logo display_table_cell" style="display:none;">
                                <a href="~/EN/Home/Index" class="logo top_logo">
                                    <img src="~/lib/pharma/images/PARLA Logo.png" tppabs="" alt=""> @*~/lib/pharma/images/PARLA Logo.png*@ @*id="MyImg"*@
                                </a>
                            </div>
                            <div id="MyDiv" class="header_left_legoo display_table_cell">
                                @*id="MyDiv"*@
                                <a href="~/EN/Home/Index" class="logo">
                                    @*top_logo*@
                                    <img src="~/lib/pharma/images/PARLA W Logo.png" tppabs="" alt="" id="MyImg"> @*~/lib/pharma/images/PARLA Logo.png*@ @**@
                                </a>
                            </div>
                            <div class="header_mainmenu display_table_cell text-center">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li class="active">
                                            <a href="javascript:navigateMe('/EN/Home/Index');">
                                                @ViewBag.DictStr[2][@ViewBag.LanguageID]
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:navigateMe('/EN/Home/AboutUs');">
                                                @ViewBag.DictStr[3][@ViewBag.LanguageID]
                                            </a>
                                            <ul>
                                                <li>
                                                    <a id="AAboutParla" href="javascript:navigateMe('/EN/Home/AboutUs', '#AboutParla');">
                                                        @ViewBag.DictStr[4][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    @if (@ViewBag.PageID == "Index")
                                                    {
                                                    <a id="AOurVision" href="javascript:navigateMe('/EN/Home/Index', '#OurVision');">
                                                        @ViewBag.DictStr[5][@ViewBag.LanguageID]
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                <a id="AOurVision" href="javascript:navigateMe('/EN/Home/AboutUs', '#OurVision');">
                                                    @ViewBag.DictStr[5][@ViewBag.LanguageID]
                                                </a>
                                                    }
                                                </li>
                                                <li>
                                                    @if (@ViewBag.PageID == "Index")
                                                    {
                                                    <a id="AOurMission" href="javascript:navigateMe('/EN/Home/Index', '#OurMission');">
                                                        @ViewBag.DictStr[6][@ViewBag.LanguageID]
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                <a id="AOurMission" href="javascript:navigateMe('/EN/Home/AboutUs', '#OurMission');">
                                                    @ViewBag.DictStr[6][@ViewBag.LanguageID]
                                                </a>
                                                    }

                                                </li>
                                                <li>
                                                    <a id="AOurValues" href="javascript:navigateMe('/EN/Home/Index', '#OurValues');">
                                                        @ViewBag.DictStr[7][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    @if (@ViewBag.PageID == "Index")
                                                    {
                                                    <a id="AParlaTeam" href="javascript:navigateMe('/EN/Home/Index', '#ParlaTeam');">
                                                        @ViewBag.DictStr[8][@ViewBag.LanguageID]
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                <a id="AParlaTeam" href="javascript:navigateMe('/EN/Home/AboutUs', '#ParlaTeam');">
                                                    @ViewBag.DictStr[8][@ViewBag.LanguageID]
                                                </a>
                                                    }
                                                </li>
                                                <li>
                                                    @if (@ViewBag.PageID == "Index")
                                                    {
                                                    <a id="AOurCulture" href="javascript:navigateMe('/EN/Home/Index', '#OurCulture');">
                                                        @ViewBag.DictStr[9][@ViewBag.LanguageID]
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                <a id="AOurCulture" href="javascript:navigateMe('/EN/Home/AboutUs', '#OurCulture');">
                                                    @ViewBag.DictStr[9][@ViewBag.LanguageID]
                                                </a>
                                                    }
                                                </li>

                                                <li>
                                                    @if (@ViewBag.PageID == "Index")
                                                    {
                                                    <a id="ASocialResponsibility" href="javascript:navigateMe('/EN/Home/Index', '#SocialResponsibility');">
                                                        @ViewBag.DictStr[10][@ViewBag.LanguageID]
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                <a id="ASocialResponsibility" href="javascript:navigateMe('/EN/Home/AboutUs', '#SocialResponsibility');">
                                                    @ViewBag.DictStr[10][@ViewBag.LanguageID]
                                                </a>
                                                    }
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:navigateMe('/EN/Home/Products');">
                                                @ViewBag.DictStr[11][@ViewBag.LanguageID]
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:navigateMe('/EN/Home/Products');">
                                                        @ViewBag.DictStr[11][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:navigateMe('/EN/Home/Products');">
                                                        @ViewBag.DictStr[12][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:navigateMe('/EN/Home/Products');">
                                                        @ViewBag.DictStr[13][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:navigateMe('/EN/Home/Products');">
                                                        @ViewBag.DictStr[14][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                @ViewBag.DictStr[15][@ViewBag.LanguageID]
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        @ViewBag.DictStr[16][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        @ViewBag.DictStr[17][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        @ViewBag.DictStr[18][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:navigateMe('/EN/Home/Partners');">
                                                @ViewBag.DictStr[19][@ViewBag.LanguageID]
                                            </a>
                                            <ul>
                                                <li>
                                                    <a id="ADistributors" href="javascript:navigateMe('/EN/Home/Partners', '#Distributors');">
                                                        @ViewBag.DictStr[20][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="AExportDevelopment" href="javascript:navigateMe('/EN/Home/Partners', '#ExportDevelopment');">
                                                        @ViewBag.DictStr[21][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:navigateMe('/EN/Home/Career');">
                                                @ViewBag.DictStr[22][@ViewBag.LanguageID]
                                            </a>
                                            <ul>
                                                <li>
                                                    <a id="AWhyPARLA" href="javascript:navigateMe('/EN/Home/Career', '#WhyPARLA');">
                                                        @ViewBag.DictStr[23][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="AVacancies" href="javascript:navigateMe('/EN/Home/Career', '#Vacancies');">
                                                        @ViewBag.DictStr[24][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:navigateMe('/EN/Home/Applicationform');">
                                                        @ViewBag.DictStr[25][@ViewBag.LanguageID]
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">R & D</a>
                                        </li>
                                        <li>
                                            <a href="javascript:navigateMe('/EN/Home/ContactUs');">
                                                @ViewBag.DictStr[26][@ViewBag.LanguageID]
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                                <!-- header toggler --><span class="toggle_menu"><span></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>







            @RenderBody()






            <footer class="page_footer ds ms section_padding_0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="widget_text leftmargin_20">
                                <a href="~/EN/Home/Index" class="logo vertical_logo bottommargin_20 ">
                                    <img src="~/lib/pharma/images/PARLA W Logo.png" tppabs="http://webdesign-finder.com/html/pharma/images/logo-light.png" alt="" class="toppadding_0" style="height:90px !important;">
                                </a>
                                <p class="toppadding_10">
                                    @ViewBag.DictStr[121][@ViewBag.LanguageID]
                                </p>
                                <p>
                                    @ViewBag.DictStr[122][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 to_animate toppadding_80">
                            <div class="widget_text">
                                <h3 class="widget-title">
                                    @ViewBag.DictStr[43][@ViewBag.LanguageID]
                                </h3>
                                <div>
                                    <i class="fa fa-thumbs-o-up"></i><span class="leftpadding_20"></span>
                                    @ViewBag.DictStr[123][@ViewBag.LanguageID]
                                </div>
                                <div>
                                    <i class="fa fa-audio-description"></i><span class="leftpadding_15"></span>
                                    @ViewBag.DictStr[124][@ViewBag.LanguageID]
                                </div>
                                <div>
                                    <i class="fa fa-money"></i><span class="leftpadding_20"></span>
                                    @ViewBag.DictStr[125][@ViewBag.LanguageID]
                                </div>
                                <div>
                                    <i class="fa fa-globe"></i><span class="leftpadding_20"></span>
                                    @ViewBag.DictStr[126][@ViewBag.LanguageID]
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 to_animate toppadding_80">
                            <div class="widget_text">
                                <h3 class="widget-title">
                                    @ViewBag.DictStr[26][@ViewBag.LanguageID]
                                </h3>
                                <p>
                                    @ViewBag.DictStr[127][@ViewBag.LanguageID]
                                </p>
                                <ul class="list1 no-bullets">
                                    <li> <i class="rt-icon2-device-phone highlight2"></i> +99412 310 52 19 </li>
                                    <li> <i class="rt-icon2-globe-outline highlight2"></i> <a href="~/EN/Home/Index" tppabs="http://Parlapharma.com">www.Parlapharma.com</a> </li>
                                    <li> <i class="rt-icon2-mail2 highlight2"></i> <a href="mailto:info@parlapharma.com">info@Parlapharma.com</a> </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-3 to_animate toppadding_80">
                            <div class="widget_text">
                                <h3 class="widget-title">
                                    @ViewBag.DictStr[128][@ViewBag.LanguageID]
                                </h3>
                                <div class="media small-teaser">
                                    <div class="media-left media-middle"> <a href="#" class="social-icon color-icon border-icon -icon soc-facebook"></a> </div>
                                    <div class="media-body media-middle"> Facebook </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left media-middle"> <a href="#" class="social-icon color-icon border-icon -icon soc-twitter"></a> </div>
                                    <div class="media-body media-middle"> Twitter </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left media-middle"> <a href="#" class="social-icon color-icon border-icon -icon soc-linkedin"></a> </div>
                                    <div class="media-body media-middle"> LinkedIn </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left media-middle"> <a href="#" class="social-icon color-icon border-icon -icon soc-pinterest"></a> </div>
                                    <div class="media-body media-middle"> Pinterest </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <section class="ds color darker page_copyright section_padding_15">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="fontsize_12">&copy; Copyright 2020. All Rights Reserved.</p> @* ParlaPharma Co. &commat;*@
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->





    <script src="~/lib/pharma/js/compressed.js"></script>
    <script src="~/lib/pharma/js/main.js"></script>
    <script src="~/lib/pharma/js/switcher.js"></script>
    <script src="~/lib/pharma/js/Language.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
