<section id="testimonials" class="cs color parallax section_subscribe section_padding_top_50 section_padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section_header PartTitles">
                    @*@ViewBag.DictStr[7][@ViewBag.LanguageID]*@
                    <img src="~/lib/pharma/images/OurValues/All Icones-07.png" style="width:40%;" />
                </h2>
                <div id="gallery-owl-carousel" class="owl-carousel dots-center with_border_items" data-items="3" data-responsive-lg="4" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-dots="false">
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center" style="width: 262.5px !important;">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/Separate Icons-11.png" style="padding:50px;" />
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @ViewBag.DictStr[73][@ViewBag.LanguageID]
                                </h4>
                            </header>
                            <p>
                                @ViewBag.DictStr[86][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center" style="width: 262.5px !important;">
                        <div class="item-media">
                            @*<img src="~/lib/pharma/images/OurValues/ProfessionalismFinal.jpg" alt="">*@
                            <img src="~/lib/pharma/images/OurValues/Separate Icons-12.png" style="padding:50px;" />
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:375px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @ViewBag.DictStr[70][@ViewBag.LanguageID]
                                    @*</a>*@
                                </h4>
                            </header>
                            <p id="OurValuesContent1">
                                @ViewBag.DictStr[87][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center" style="width: 262.5px !important;">
                        <div class="item-media">
                            @*<img src="~/lib/pharma/images/OurValues/InnovationFinal.jpg" alt="">*@
                            <img src="~/lib/pharma/images/OurValues/Separate Icons-13.png" style="padding:50px;" />
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:375px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0" >
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @ViewBag.DictStr[72][@ViewBag.LanguageID]
                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @ViewBag.DictStr[88][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center" style="width: 262.5px !important;">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/Separate Icons-15.png" style="padding:50px;" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:375px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @ViewBag.DictStr[71][@ViewBag.LanguageID]
                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @ViewBag.DictStr[89][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center" style="width: 262.5px !important;">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/Separate Icons-14.png" style="padding:50px;" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/05.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:375px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @ViewBag.DictStr[90][@ViewBag.LanguageID]
                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @ViewBag.DictStr[91][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-md-8 text-center text-md-left">
                    <h3 class="bottommargin_0">Our Values</h3>
                    <p class="fontsize_20 grey margin_0">Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <div class="widget widget_mailchimp">
                    </div>
                </div>
            </div>*@
    </div>
</section>

@*@section Scripts {
    <script>
        $(document).ready(function () {
            $("#OurValuesHeader1").mouseenter(function () {
                alert();
                $("#OurValuesContent1").show(3000);
            });
            $("#OurValuesHeader1").mouseleave(function () {
                $("#OurValuesContent1").hide(3000);
            });
        });
    </script>
}*@