<section id="testimonials" class="cs color parallax section_subscribe section_padding_top_50 section_padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section_header "> Our Values </h2>
                <div id="gallery-owl-carousel" class="owl-carousel dots-center with_border_items" data-items="3" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-dots="false">
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/performanceFinal.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/01.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/01.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Performance
                                            break;
                                        case "az":
                                            @:Performans
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:As an ambitious company, we believe our work should be executed flawlessly, to guarantee added value for our patients, customers, shareholders and staff and ensure unparalleled quality in everything we do.
                                        break;
                                    case "az":
                                        @:İddialı bir şirkət olaraq, biz inanırıq ki, pasiyentlərimizə, müştərilərimizə, səhmdarlarımıza və işçi heyətimizə əlavə dəyər qatmaq və bütün fəaliyyətimizdə yüksək keyfiyyətə nail olmaq üçün işimizi qüsursuz icra etməliyik.
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/ProfessionalismFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Professionalism
                                            break;
                                        case "az":
                                            @:Peşəkarlıq
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:We set our standards high and we are ready to help team to add on  their skillsso that Parla’s team can exceed expectations and strive for perfection in everything we do.
                                        break;
                                    case "az":
                                        @:Biz standartlarımızı yüksək təyin edir və komandamızın bu gözləntiləri doğrultması, eyni zamanda öz işində mükəmməl nəticələrə nail olması üçün onların səriştə və bacarıqlarının daim artırılmasına çalışırıq.
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/InnovationFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Innovation
                                            break;
                                        case "az":
                                            @:İnnovasiya
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:We constantly strive to redefine the standard of excellence in everything we do. We are open to ideas that challenge the conventional views and drive innovation.
                                        break;
                                    case "az":
                                        @:Gördüyümüz hər işdə mükəmməllik standartlarını yenidən nəzərdən keçiririk. Biz ənənəvi baxış bucağına meydan oxuyan və yenilik gətirən fikirlərə hər zaman açığıq.
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/TeamworkFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Teamwork
                                            break;
                                        case "az":
                                            @:Komanda işi
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Parla deeply believes in real team performance and integration. We put the interest of the team as success only comes when we work together.
                                        break;
                                    case "az":
                                        @:PARLAda biz həqiqi komanda işinə inanırıq. Bizim üçün komandanın marağı öndə gəlir, çünki güc birlikdədir.
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/IntegrityFinal.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/05.jpg"></a>*@ </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> @*<a href="#"></a>*@ </div>
                                <h4 class="entry-title topmargin_0">
                                    @*<a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">*@
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Integrity
                                            break;
                                        case "az":
                                            @:Dürüstlük
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                    @*</a>*@
                                </h4>
                            </header>
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Ethics is propriety in all what we do in Parla. We are honest, fair and open and we never compromise on those.
                                        break;
                                    case "az":
                                        @:Etik qaydalar bütün işimizin təməlidir. Biz dürüst, ədalətli və şəffafıq. Bu dəyərlərdə heç vaxt güzəştə getmirik.
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-md-8 text-center text-md-left">
                    <h3 class="bottommargin_0">Our Values</h3>
                    <p class="fontsize_20 grey margin_0">Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <div class="widget widget_mailchimp">
                    </div>
                </div>
            </div>*@
    </div>
</section>