
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}



<section class="page_breadcrumbs ds color parallax section_padding_top_130 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>

<div data-id="AboutParla"></div>
<section id="AboutParla1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">Our Company</h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/slide06.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider" >
                                        Parla Pharmaceuticals established in 2019, is the first science-based pharmaceutical company of Azerbaijan, focusing on the full production of high-technology medicines.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide05.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        The initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide04.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Exporting advanced biotechnological and nanotechnological products is one of the key focus areas. Parla is ambitious to be Azerbaijan’s best Pharmaceutical brand worldwide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide03.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        With the footprint and commitment to improving access to healthcare and improving quality of life, Parla works tirelessly to make a difference to people’s lives every day and focuses on transferring scientific innovation. This will be aligned with social and environmental focus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurMission"></div>
<section id="OurMission1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Mission </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00125.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community. Exporting advanced biotechnological and nanotechnological products is one of the key focus areas.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurCulture"></div>
<section id="OurCulture1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Culture </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00568.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        We believe that success of our business depends directly on personal contribution of every employee. Our teamwork is based on learning culture, effetive communication, constructive feedback and determination.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="SocialResponsibility"></div>
<section id="SocialResponsibility1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Social Responsibility </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00743.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Staying true to our mission, values and culture we focus on contributing to benefit our patients, society and environment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="ParlaTeam"></div>
<section id="ParlaTeam1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Parla Team </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00251.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Our team is our main asset Parla is a young, talented, ambitious and agile team of professionals
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/DSC00788.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        We are a dynamic and energetic team of professionals who focus on excellence and success. Our people are equipped with many years of experience, along with the knowledge and confidence in their field of work. In Parla we believe in innovation, dedication and teamwork.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/DSC00568.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        With a well-trained professional team and abundance of experience behind them, Parla is determined to become a first-class pharmaceutical company in Azerbaijan. Our success is a reflection of our people and we love what we do
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="about" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">  </h2>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }
        });
    </script>
}
