
@{
    ViewData["Title"] = "AboutUs";
}



<section class="page_breadcrumbs ds color parallax section_padding_top_130 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>

<div data-id="AboutParla"></div>
<section id="AboutParla1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">Our Company</h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:“Parla Pharmaceuticals” headquartered in Azerbaijan ,established in 2019, is the first science-based pharmaceutical company of Azerbaijan, focusing on the full production of high-technology medicines.
                                                break;
                                            case "az":
                                                @:“Parla Pharmaceuticals” Azərbaycanda ilk elmi əsaslı əczaçılıq şirkətidir. Şirkətimiz 2019-cu ildə yaradılıb. Parlanın fəaliyyəti Azərbaycanda yüksək texnologiyalı dərmanların tam istehsalından ibarətdir.
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 2nd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:The initial aim is to increase quality of lives of patients and their access to high quality pharmaceutical products with affordable price produced by Parla Pharmaceuticals. Our mission is to develop customer orientation and leadership in the pharmaceutical market and community.
                                                break;
                                            case "az":
                                                @:Əsas məqsədimiz əhalinin həyat keyfiyyətinin artırıılması, yüksək keyfiyyətli əczaçılıq məhsulları istehsal edərək münasib qiymətlərlə insanlara təqdim etməkdir. Biz həmçinin, əczaçılıq bazarında və cəmiyyətdə pasiyent yönümlü yanaşmanı və liderliyi inkişaf etdirməyə yönəlmişik.
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:Exporting advanced biotechnological and nanotechnological products by developing an international culture, structure and performanceis one of the key focus areas. Parla is ambitious to be Azerbaijan’s best Pharmaceutical brand, worldwide.
                                                break;
                                            case "az":
                                                @:Məhsul portfelimizdə klassik dərman vasitələri ilə yanaşı müasir biotexnoloji və nanotexnoloji məhsullar da olacaq. Parla bu məhsulların Azərbaycanda satışı ilə yanaşı, onların ixracını da həyata keçirəcək. Parla Azərbaycanın qabaqcıl əczaçılıq brendi olmaqda iddialıdır.
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 4th slideer.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:With the footprint and commitment to improving access to healthcare and improving quality of life, Parla works tirelessly to make a difference to people’s lives every day and focuses on transferring scientific innovation. This will be aligned with social and environmental focus.
                                                break;
                                            case "az":
                                                @:Səhiyyə xidmətlərinin daha əlçatan olmasına nail olmaq və insanların həyat keyfiyyətinin yaxşılaşdıırlmasına öz töhfəsini vermək üçün Parla dayanmadan çalışır və elmi innovasiyanın, yeniliklərin tətbiqini də diqqətdə saxlayır. Biz həmçinin sosial və ətraf  mühitlə bağlı öhdəliklərimizi də həyata keçiririk.
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<div data-id="OurVision"></div>
<section id="OurVision" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Vision </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00788.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:left;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        <ul>
                                            <li>
                                                Improving health care access and quality of life
                                            </li>
                                            <li>
                                                Creating added value for  our customers, staff, business partner and  shareholders
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurMission"></div>
<section id="OurMission1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Mission </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00125.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community. Exporting advanced biotechnological and nanotechnological products is one of the key focus areas.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurValues"></div>
<partial name="_OurValuesPartial" />

<div data-id="ParlaTeam"></div>
<section id="ParlaTeam1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Parla Team </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Parla team 1st slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:Our team is our main asset. Parla is a young, talented, ambitious and agile team of professionals
                                                break;
                                            case "az":
                                                @:“Parla” gənc, istedadlı, məqsədyönlü və çevik peşəkarlar komandasıdır!
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Parla team2nd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:We are a dynamic and energetic team of professionals who focus on excellence and success. Our people are equipped with many years of experience, along with the knowledge and confidence in their field of work. In Parla we believe in innovation, dedication and teamwork.
                                                break;
                                            case "az":
                                                @:Biz yüksək professionallıq və uğur qazanmaq yolunda  irəliləyən dinamik və enerjili peşəkarlardan ibarət komandayıq. Bizim əməkdaşlarımız öz sahələrində ekspert olmaqla yanaşı, həm də çoxillik təcrübəyə malikdirlər. “Parla” olaraq, biz innovasiya, sadiqlik və komanda işinə inanırıq.
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Parla team 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                                @:With a well-trained professional team and abundance of experience behind them, Parla is determined to become a first-class pharmaceutical company in Azerbaijan. Our success is a reflection of our people and we love what we do
                                                break;
                                            case "az":
                                                @:Geniş təcrübəyə malik və çoxsaylı təlim keçmiş peşəkarlar komandası ilə, “Parla” Azərbaycanda qabaqcıl əczaçılıq şirkəti olmaqda qərarlıdır. Bizim uğurumuz əməkdaşlarımızın fəaliyyətindən yaranır. Çünki biz öz işimizi sevirik !
                                                break;
                                            case "ru":
                                                @:
                                                break;
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<div data-id="OurCulture"></div>
<section id="OurCulture1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">
                    @switch (@ViewBag.Language)
                    {
                        case "en":
                    @:Our Culture
                            break;
                        case "az":
                    @:
                            break;
                        case "ru":
                    @:
                            break;
                    }

                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Our culture.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                        @:We believe that success of our business depends directly on personal contribution of every employee. Our teamwork is based on learning culture, effetive communication, constructive feedback and determination.
                                                break;
                                            case "az":
                                        @:Biz əminik ki, biznesin uğuru hər bir əməkdaşın fərdi tohfəsinə əsaslanır. Komanda fəaliyyətimzidə öyrənmək və inkişaf, şəffaf və açıq ünsiyyət, konstruktiv rəy və qərarlılıq prinsiplərini əsas tuturuq.
                                                break;
                                            case "ru":
                                        @:
                                                break;
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="SocialResponsibility"></div>
<section id="SocialResponsibility1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Social Responsibility </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00743.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @switch (@ViewBag.Language)
                                        {
                                            case "en":
                                        @:Staying true to our mission, values and culture we focus on contributing to benefit our patients, society and environment
                                                break;
                                            case "az":
                                        @:Missiyamız, dəyərlərimiz və korporativ mədəniyyətimizə sadiq qalaraq, pasiyentlərimiz, cəmiyyətimiz və ətraf mühitə öz töhfəmizi vermək üçün dayanmadan çalışırıq.
                                                break;
                                            case "ru":
                                        @:
                                                break;
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="about" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">  </h2>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurVision").click(function () {
                ScrollObjects('OurVision', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }
        });
    </script>
}
