
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}



<section class="page_breadcrumbs ds color parallax section_padding_top_130 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>

<div data-id="AboutParla"></div>
<section id="AboutParla1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">Our Company</h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Parla Pharmaceuticals established in 2019, is the first science-based pharmaceutical company of Azerbaijan, focusing on the full production of high-technology medicines.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 2nd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        The initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Exporting advanced biotechnological and nanotechnological products is one of the key focus areas. Parla is ambitious to be Azerbaijan’s best Pharmaceutical brand worldwide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 4th slideer.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        With the footprint and commitment to improving access to healthcare and improving quality of life, Parla works tirelessly to make a difference to people’s lives every day and focuses on transferring scientific innovation. This will be aligned with social and environmental focus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<div data-id="OurVision"></div>
<section id="OurVision" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Vision </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00788.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:left;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        <ul>
                                            <li>
                                                Improving health care access and quality of life
                                            </li>
                                            <li>
                                                Creating added value for  our customers, staff, business partner and  shareholders
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurMission"></div>
<section id="OurMission1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Mission </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00125.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community. Exporting advanced biotechnological and nanotechnological products is one of the key focus areas.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="OurValues"></div>
<section id="testimonials" class="cs color parallax section_subscribe section_padding_top_50 section_padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section_header "> Our Values </h2>
                <div id="gallery-owl-carousel" class="owl-carousel dots-center with_border_items" data-items="3" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-dots="false">
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/performanceFinal.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> </div>
                                <h4 class="entry-title topmargin_0">
                                    
                                    Performance
                                </h4>
                            </header>
                            <p> We believe our work should be executed flawlessly, to guarantee added value for our customers, shareholders and staff and ensure unparalleled quality in everything we do. </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/ProfessionalismFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> </div>
                                <h4 class="entry-title topmargin_0">
                                    Professionalism
                                </h4>
                            </header>
                            <p>
                                We set our standards high so that we can exceed expectations and strive for perfection in everything we do.
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/InnovationFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap">  </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> </div>
                                <h4 class="entry-title topmargin_0">
                                    Innovation
                                </h4>
                            </header>
                            <p>
                                We constantly strive to redefine the standard of excellence in everything we do. We are open to ideas that challenge the conventional views and drive innovation.
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/TeamworkFinal.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlightlinks"> </div>
                                <h4 class="entry-title topmargin_0">
                                    Teamwork
                                </h4>
                            </header>
                            <p>
                                We put the interest of the group first, before our individual interests, as we know that success only comes when we work together.
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/OurValues/IntegrityFinal.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> </div>
                            </div>
                        </div>
                        <div class="item-content" style="height:300px;">
                            <header class="entry-header">
                                <div class="categories-links highlight2links"> </div>
                                <h4 class="entry-title topmargin_0">
                                    Integrity
                                </h4>
                            </header>
                            <p>
                                We are honest, fair and open in all our activities.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="ParlaTeam"></div>
<section id="ParlaTeam1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Parla Team </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Parla team 1st slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Our team is our main asset. Parla is a young, talented, ambitious and agile team of professionals
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Parla team2nd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        We are a dynamic and energetic team of professionals who focus on excellence and success. Our people are equipped with many years of experience, along with the knowledge and confidence in their field of work. In Parla we believe in innovation, dedication and teamwork.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Parla team 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        With a well-trained professional team and abundance of experience behind them, Parla is determined to become a first-class pharmaceutical company in Azerbaijan. Our success is a reflection of our people and we love what we do
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<div data-id="OurCulture"></div>
<section id="OurCulture1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Culture </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Our culture.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        We believe that success of our business depends directly on personal contribution of every employee. Our teamwork is based on learning culture, effetive communication, constructive feedback and determination.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div data-id="SocialResponsibility"></div>
<section id="SocialResponsibility1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Social Responsibility </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00743.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        Staying true to our mission, values and culture we focus on contributing to benefit our patients, society and environment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="about" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">  </h2>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurVision").click(function () {
                ScrollObjects('OurVision', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }
        });
    </script>
}
