
@{
    ViewData["Title"] = "AboutUs";
}



<section class="page_breadcrumbs ds color parallax section_padding_top_130 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                @*<h2>
                    @ViewBag.DictStr[3][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>

<div data-id="AboutParla"></div>
<section id="AboutParla1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                    @ViewBag.DictStr[4][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[4][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[52][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Our company 2nd slider.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[4][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[53][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Our company 3rd slider.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[4][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[54][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Our company 4th slideer.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[4][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[55][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>

            @*<li>
                <img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[52][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 2nd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[53][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[54][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/Our company 4th slideer.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[55][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>*@
        </ul>
    </div>
</section>


<div data-id="OurVision"></div>
<section id="OurVision" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                    @ViewBag.DictStr[5][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0">
    <div class="flexslider"  data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[5][@ViewBag.LanguageID]
                                </h3>
                                <p>
                                    <ul>
                                        <li class="AboutUsSlidersContent">
                                            @ViewBag.DictStr[37][@ViewBag.LanguageID]
                                        </li>
                                        <li class="AboutUsSlidersContent">
                                            @ViewBag.DictStr[38][@ViewBag.LanguageID]
                                        </liclass="AboutUsSlidersContent">
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Vision-new.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>

                @*<img src="~/lib/pharma/images/DSC00788.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:left;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        <ul>
                                            <li>
                                                @ViewBag.DictStr[37][@ViewBag.LanguageID]
                                            </li>
                                            <li>
                                                @ViewBag.DictStr[38][@ViewBag.LanguageID]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</section>

<div data-id="OurMission"></div>
<section id="OurMission1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header"> 
                    @ViewBag.DictStr[6][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/DSC00125.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[6][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[121][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                @*<img src="~/lib/pharma/images/DSC00125.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[121][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</section>

<div data-id="OurValues"></div>
<partial name="_OurValuesPartial" />

<div data-id="ParlaTeam"></div>
<section id="ParlaTeam1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                    @ViewBag.DictStr[34][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[34][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[56][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Parla team 0st slider1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </li>
<!--            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[34][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[56][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Parla team 1st slider.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[34][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[57][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Parla team2nd slider.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </li> -->
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[34][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[58][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Parla team 3rd slider.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                @*<img src="~/lib/pharma/images/Parla team 3rd slider.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[58][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</section>


<div data-id="OurCulture"></div>
<section id="OurCulture1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                    @ViewBag.DictStr[9][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Our culture.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[9][@ViewBag.LanguageID]
                                </h3>
                                <p id="ParlaCultureContent">
                                    @ViewBag.DictStr[59][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                @*<img src="~/lib/pharma/images/Our culture.jpg" alt="">
                <div class="container" style="width:100%;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper" style="width:100%;position:absolute;">
                                <div class="slide_description" style="vertical-align:bottom;text-align:center;width:100%;">
                                    <div class="intro-layer toppadding_20 bottompadding_20 leftpadding_10 rightpadding_10 CustomSlider">
                                        @ViewBag.DictStr[59][@ViewBag.LanguageID]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</section>

<div data-id="SocialResponsibility"></div>
<section id="SocialResponsibility1" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                    @ViewBag.DictStr[10][@ViewBag.LanguageID]
                </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-content">
                                <h3 class="section_header">
                                    @ViewBag.DictStr[10][@ViewBag.LanguageID]
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @ViewBag.DictStr[60][@ViewBag.LanguageID]
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/CSR.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>


<section id="about" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">  </h2>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurVision").click(function () {
                ScrollObjects('OurVision', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }
        });
    </script>
}
