@using ParlaFarmaMVCCore.ViewModels
@model ParlaFarmaMVCCore.ViewModels.vmdl_ApplicationForm

@{
    ViewData["Title"] = "Applicationform";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    @*@ViewBag.DictStr[61][@ViewBag.LanguageID]*@
                </h2>

            </div>
        </div>
    </div>
</section>

<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="PartTitles">
                    @ViewBag.DictStr[61][@ViewBag.LanguageID]
                </h3>
                <p>
                    @ViewBag.DictStr[62][@ViewBag.LanguageID]
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 to_animate" data-animation="scaleAppear"></div>
            <div class="col-md-8 to_animate" data-animation="scaleAppear">
                <form enctype="multipart/form-data" asp-action="Applicationform" asp-controller="EN/Home" method="post" class="Application-form columns_padding_10 bottommargin_40">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <span>@ViewBag.ErrorMessage</span>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group bottommargin_0">
                                <label asp-for="FirstName">
                                    <b>
                                        @ViewBag.DictStr[122][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="FirstName" class="required">*</span>
                                </label>
                                <input asp-for="FirstName" type="text" aria-required="true" size="30" value="" name="FirstName" id="FirstName" class="form-control" placeholder="@ViewBag.DictStr[122][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        @*<div class="col-sm-6">
            <div class="form-group bottommargin_0">
                <label asp-for="LastName">
                    <b>
                        @ViewBag.DictStr[129][@ViewBag.LanguageID]
                    </b>
                    <span asp-validation-for="LastName" class="required">*</span>
                </label>
                <input asp-for="LastName" type="text" aria-required="true" size="30" value="" name="LastName" id="LastName" class="form-control" placeholder="@ViewBag.DictStr[129][@ViewBag.LanguageID]">
            </div>
        </div>*@
                        <div class="col-sm-12">
                            <div class="form-group bottommargin_0">
                                <label asp-for="Email">
                                    <b>
                                        @ViewBag.DictStr[94][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="Email" class="required">*</span>
                                </label>
                                <input asp-for="Email" type="Email" aria-required="true" size="30" value="" name="Email" id="Email" class="form-control" placeholder="@ViewBag.DictStr[94][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group bottommargin_0">
                                <label for="Phone">
                                    <b>
                                        @ViewBag.DictStr[63][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="Phone" class="required">*</span>
                                </label>
                                <input asp-for="Phone" type="tel" aria-required="true" size="30" value="" name="Phone" id="Phone" class="form-control" placeholder="### ### ####">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group bottommargin_0">
                                <label for="JobPosition">
                                    <b>
                                        @ViewBag.DictStr[64][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="JobTitle" class="required">*</span>
                                </label>
                                <br />
                                <input asp-for="JobTitle" type="text" aria-required="true" size="30" value="" name="JobTitle" id="JobTitle" class="form-control" placeholder="@ViewBag.DictStr[140][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="Application-form-message form-group bottommargin_0">
                                <label for="StartDate">
                                    <b>
                                        @ViewBag.DictStr[65][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="AvailableStartDate" class="required">*</span>
                                </label>
                                <input asp-for="AvailableStartDate" type="date" aria-required="true" size="30" value="" name="AvailableStartDate" id="AvailableStartDate" class="form-control" placeholder="">
                            </div>
                        </div>
                        @*@if (ViewBag.LanguageID == 1)
                    {
                        <div class="col-sm-12">

                        <div class="Application-form-message form-group bottommargin_0">
            <label for="EmploymentStatus">
                <b>
                    @ViewBag.DictStr[130][@ViewBag.LanguageID]
                </b>
                <span asp-validation-for="EmploymentStatus" class="required">*</span>
            </label>
        </div>
        <div class="col-sm-6">
            <input asp-for="EmploymentStatus" type="radio" aria-required="true" value="Employed" name="EmploymentStatus" id="EmploymentStatus">
            @ViewBag.DictStr[131][@ViewBag.LanguageID]
        </div>
        <div class="col-sm-6">
            <input asp-for="EmploymentStatus" type="radio" aria-required="true" value="Self-Employed" name="EmploymentStatus" id="EmploymentStatus">
            @ViewBag.DictStr[132][@ViewBag.LanguageID]
        </div>
        <div class="col-sm-6">
            <input asp-for="EmploymentStatus" type="radio" aria-required="true" value="Unemployed" name="EmploymentStatus" id="EmploymentStatus">
            @ViewBag.DictStr[133][@ViewBag.LanguageID]
        </div>
        <div class="col-sm-6">
            <input asp-for="EmploymentStatus" type="radio" aria-required="true" value="Student" name="EmploymentStatus" id="EmploymentStatus">
            @ViewBag.DictStr[134][@ViewBag.LanguageID]
        </div>
                    </div>
                        }*@
                        @if (ViewBag.LanguageID == 1)
                        {
                            <div class="col-sm-12">
                                @*<div class="Application-form-message form-group bottommargin_0">
                                    <label for="ResumeSubmit">
                                        <b>
                                            @ViewBag.DictStr[135][@ViewBag.LanguageID]
                                        </b>
                                        <span class="required">*</span>
                                    </label>
                                </div>*@
                                <div class="col-sm-12">
                                    <input type="radio" aria-required="true" value="1" name="ResumeType" id="ResumeUploadFile" checked>
                                    @ViewBag.DictStr[136][@ViewBag.LanguageID]
                                </div>
                                <div class="col-sm-12">
                                    <input type="radio" aria-required="true" value="2" name="ResumeType" id="ResumeProvideURL">
                                    @ViewBag.DictStr[137][@ViewBag.LanguageID]
                                </div>
                            </div>
                        }
                        <div class="col-sm-12" style="display:none;" id="DIVResumeURL">
                            <div class="form-group bottommargin_0">
                                <label asp-for="ResumeURL">
                                    <b>
                                        @ViewBag.DictStr[98][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="ResumeURL" class="required">*</span>
                                </label>
                                <br />
                                <input asp-for="ResumeURL" type="text" aria-required="true" size="30" value="" name="ResumeURL" id="ResumeURL" class="form-control" placeholder="@ViewBag.DictStr[141][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-12" id="DIVResumeFile">
                            <div class="Application-form-message form-group bottommargin_0">
                                <label asp-for="ResumeFile">
                                    <b>
                                        @ViewBag.DictStr[138][@ViewBag.LanguageID]
                                    </b>
                                    <span asp-validation-for="ResumeFile" class="required"></span>
                                </label>
                            </div>
                            <div class="custom-file">
                                <input asp-for="ResumeFile" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">
                                    @ViewBag.DictStr[139][@ViewBag.LanguageID]
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 bottommargin_0">
                            <div class="Application-form-submit topmargin_10">
                                <button type="submit" id="Application_form_submit" name="Application_submit" class="theme_button color2 inverse wide_button margin_0">
                                    @ViewBag.DictStr[97][@ViewBag.LanguageID]
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 to_animate" data-animation="scaleAppear"></div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#ResumeUploadFile").click(function () {
                $("#DIVResumeURL").hide();
                $("#DIVResumeFile").show();
            });
            $("#ResumeProvideURL").click(function () {
                $("#DIVResumeURL").show();
                $("#DIVResumeFile").hide();
            });
        });
    </script>
}
