
@{
    ViewData["Title"] = "Career";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}

    <section class="intro_section page_mainslider ds color">
        <div class="flexslider" data-dots="false" data-nav="true">
            <ul class="slides">
                <li>
                    <img src="~/lib/pharma/images/Careers.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                            <h5 class="thin"> </h5>
                                            <h2 class="highlight">We shine for a better future!</h2>
                                            <p style="color:white;font-size:20px;"> We know how to work and have fun at the same time </p>
                                            @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

@*<section id="WhyParlaFirst" class="WhyParla_PageFirstPart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section_header">We shine for a better future!</p>
                <h6>We know how to work and have fun at the same time</h6>
            </div>
        </div>
    </div>
</section>*@

<section class="ls section_padding_top_30 section_padding_bottom_130">
    <div class="container">
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/why.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="javascript:ScrollObjects('WhyPARLA', '@ViewBag.PageID', true);">Why PARLA?</a> </h4>
                        <p>Values of PARLA is a key to success of the team and the main accelerator of our business.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/vacancies.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="javascript:ScrollObjects('Vacancies', '@ViewBag.PageID', true);">Vacancies </a> </h4>
                        <p>Join the team of professionals in PARLA.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/job-application-form.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="~/EN/Home/Applicationform">Application Form </a> </h4>
                        <p>Join us</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div data-id="WhyPARLA"></div>
<section class="parallax section_subscribe ls section_padding_top_30 section_padding_bottom_30 WhyParlaBackground">
    @*cs color main_color2*@
    <div class="container">
        <div class="row bottompadding_20">
            <h1> Why PARLA? </h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color">
                            <i class="rt-icon2-tag2"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Professionalism</h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Teamwork</h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Innovation</h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Performance</h5>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Motivation package</h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Development of talents</h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Fun-loving corporate culture</h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Comfortable workplace</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="Vacancies"></div>
<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Vacancies</h3>
                <p>PARLA is a company attracting talents for realization potential and creates favourable working conditions for future success and achievements</p>
                <p><b>We offer:</b></p>
                <ul>
                    <li>opportunity to become professional in your sphere and to increase expertise in the related areas.</li>
                    <li>to become company’s development driver, to implement ideas, innovations, projects together with the company.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AWhyPARLA").click(function () {
                ScrollObjects('WhyPARLA', '@ViewBag.PageID', true);
            });
            $("#AVacancies").click(function () {
                ScrollObjects('Vacancies', '@ViewBag.PageID', true);
            });
            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }
        });

    </script>
}

