
@{
    ViewData["Title"] = "Career";
}

<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/Careers.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight">
                                            @ViewBag.DictStr[66][@ViewBag.LanguageID]
                                        </h2>
                                        <p style="color:white;font-size:20px;">
                                            @ViewBag.DictStr[67][@ViewBag.LanguageID]
                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

@*<section id="WhyParlaFirst" class="WhyParla_PageFirstPart">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="section_header">We shine for a better future!</p>
                    <h6>We know how to work and have fun at the same time</h6>
                </div>
            </div>
        </div>
    </section>*@

<section class="ls section_padding_top_30 section_padding_bottom_130">
    <div class="container">
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/why.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4>
                            <a href="javascript:ScrollObjects('WhyPARLA', '@ViewBag.PageID', true);">
                                @ViewBag.DictStr[68][@ViewBag.LanguageID]
                            </a>
                        </h4>
                        <p>
                            @ViewBag.DictStr[69][@ViewBag.LanguageID]
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/vacancies.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4>
                            <a href="javascript:ScrollObjects('Vacancies', '@ViewBag.PageID', true);">
                                @ViewBag.DictStr[24][@ViewBag.LanguageID]
                            </a>
                        </h4>
                        <p>
                            @ViewBag.DictStr[113][@ViewBag.LanguageID]
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/job-application-form.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> 
                            <a href="~/EN/Home/Applicationform">
                                @ViewBag.DictStr[25][@ViewBag.LanguageID]
                            </a> 
                        </h4>
                        <p>
                            @ViewBag.DictStr[114][@ViewBag.LanguageID]
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div data-id="WhyPARLA"></div>
<section class="parallax section_subscribe ls section_padding_top_30 section_padding_bottom_30 WhyParlaBackground">
    @*cs color main_color2*@
    <div class="container">
        <div class="row bottompadding_20">
            <h1>
                @ViewBag.DictStr[68][@ViewBag.LanguageID]
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color">
                            <i class="rt-icon2-tag2"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[70][@ViewBag.LanguageID]
                        </h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[71][@ViewBag.LanguageID]
                        </h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[72][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[73][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[74][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[75][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[76][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[77][@ViewBag.LanguageID]
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .fa-calendar {
        padding: 5px;
        background-color: lightgray;
        border-radius: 5px;
    }

    .fa-map-marker {
        padding: 5px;
        background-color: lightgray;
        border-radius: 5px;
    }

    .Vacancieslist {
        color: cornflowerblue !important;
        cursor: pointer !important;
    }
</style>
<div data-id="Vacancies"></div>
<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">
                    @ViewBag.DictStr[24][@ViewBag.LanguageID]
                </h3>
                <p>
                    @ViewBag.DictStr[115][@ViewBag.LanguageID]
                </p>
                <p><b>
                    @ViewBag.DictStr[116][@ViewBag.LanguageID]
                </b></p>
                <ul>
                    <li>
                        @ViewBag.DictStr[117][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[118][@ViewBag.LanguageID]
                    </li>
                </ul>
            </div>
            @*<div class="col-sm-12">
                    <h4 class="module-header">Vacancies list</h4><hr />
                </div>*@
            <div class="col-sm-12" id="MedicalrepresentativeBaku">
                <h3 class="module-header Vacancieslist">
                    Medical representative, Baku
                </h3>
                <i class="fa fa-map-marker"> Baku</i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar"> 2020-04-28 - 2020-05-25</i>
            </div>
            <div class="col-sm-12" id="MedicalrepresentativeBakuDetail" style="display:none;">

                <p>We provide you an opportunity to work with talented people, develop in a professional environment and realize your potential. We also hope that you will do your best with us to improve the lives of patients!</p>
                <p>"Parla Pharmaceuticals", established in September 2019 as the first science-based pharmaceutical company in Azerbaijan, focuses on the full production of high-tech medicine. Our primary goal is to produce high quality pharmaceutical products at an affordable price, and our mission is to develop a customer-oriented approach and leadership in the pharmaceutical market and community. Export of advanced biotechnological and nanotechnological products is one of the main focus areas. Parla is ambitious to be the best pharmaceutical brand of Azerbaijan in the world.</p>
                <p></p>
                <p><b>Key responsibilities include:</b></p>
                <ul>
                    <li>Introduce company products</li>
                    <li>Daily visits to healthcare and medical staff (endocrinologists, cardiologists, therapists, pharmacists, etc.)</li>
                    <li>Conduct market analysis</li>
                    <li>Track sales dynamics</li>
                    <li>Develop and implement an action plan and register in the electronic system</li>
                    <li>Implement educational activities, social projects</li>
                </ul>
                <p></p>
                <p><b>Required qualifications and skills:</b></p>
                <ul>
                    <li>Higher medical or pharmaceutical education;</li>
                    <li>Work experience: at least 3 years in the sales system in the pharmaceutical business;</li>
                    <li>Communicative, responsible and able to work in a team;</li>
                    <li>Analytical thinking ability;</li>
                    <li>Knowledge of Microsoft Office programs (World, Excel, Power Point);</li>
                    <li>Azerbaijani - native, English and Russian are desirable;</li>
                    <li>Driver's license - Category B.</li>
                </ul>
                <p></p>
                <p><b>We offer:</b></p>
                <ul>
                    <li>Training and development opportunities within the company;</li>
                    <li>Corporate culture and professional work environment;</li>
                    <li>Private Health Insurance;</li>
                    <li>Corporate number;</li>
                    <li>A good work-life balance: 9 am - 6 pm from Monday to Friday, official vacation and extra day-off options.</li>
                </ul>
                <p>Please send your CVs to <a href="mailto:amira@parlapharma.com">amira@parlapharma.com</a>  no later than 25.05.2020.</p>
            </div>
            <hr />
            <div class="col-sm-12" id="SalesrepresentativeBaku">
                <h3 class="module-header Vacancieslist">
                    Sales representative, Baku
                </h3>
                <i class="fa fa-map-marker"> Baku</i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar"> 2020-04-28 - 2020-05-25</i>
            </div>
            <div class="col-sm-12" id="SalesrepresentativeBakuDetail" style="display:none;">
                <p>We provide you an opportunity to work with talented people, develop in a professional environment and realize your potential. We also hope that you will do your best with us to improve the lives of patients!</p>
                <p>"Parla Pharmaceuticals", established in September 2019 as the first science-based pharmaceutical company in Azerbaijan, focuses on the full production of high-tech medicine. Our primary goal is to produce high quality pharmaceutical products at an affordable price, and our mission is to develop a customer-oriented approach and leadership in the pharmaceutical market and community. Export of advanced biotechnological and nanotechnological products is one of the main focus areas. Parla is ambitious to be the best pharmaceutical brand of Azerbaijan in the world.</p>
                <p></p>
                <p><b>Key responsibilities include:</b></p>
                <ul>
                    <li>Introduce company products</li>
                    <li>Daily visits to pharmacies and other medical facilities;</li>
                    <li>Conduct market analysis;</li>
                    <li>Track sales dynamics;</li>
                    <li>Develop and implement an action plan and register in the electronic system;</li>
                    <li>Implement educational activities, social projects.</li>
                </ul>
                <p></p>
                <p><b>Required qualifications and skills:</b></p>
                <ul>
                    <li>Strong sales skills;</li>
                    <li>Work experience: minimum 1 year in the sales system;</li>
                    <li>Communicative, responsible and able to work in a team;</li>
                    <li>Analytical thinking ability;</li>
                    <li>Knowledge of Microsoft Office programs (World, Excel, Power Point);</li>
                    <li>Azerbaijani - native, English and Russian are desirable;</li>
                    <li>Driver's license - Category B is desirable;</li>
                    <li>Candidates with pharmaceutical background will be preferred.</li>
                </ul>
                <p></p>
                <p><b>We offer:</b></p>
                <ul>
                    <li>Training and development opportunities within the company;</li>
                    <li>Corporate culture and professional work environment;</li>
                    <li>Private Health Insurance;</li>
                    <li>Corporate number;</li>
                    <li>A good work-life balance: 9 am - 6 pm from Monday to Friday, official vacation and extra day-off options.</li>
                </ul>
                <p>Please send your CVs to <a href="mailto:amira@parlapharma.com">amira@parlapharma.com</a>  no later than 25.05.2020.</p>
            </div>
            <hr />
            <div class="col-sm-12" id="BusinessanalystforSalesEffectivenessBaku">
                <h3 class="module-header Vacancieslist">
                    Business analyst for Sales Effectiveness, Baku
                </h3>
                <i class="fa fa-map-marker"> Baku</i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar"> 2020-04-28 - 2020-05-25</i>
            </div>
            <div class="col-sm-12" id="BusinessanalystforSalesEffectivenessBakuDetail" style="display:none;">
                <p>We provide you an opportunity to work with talented people, develop in a professional environment and realize your potential. We also hope that you will do your best with us to improve the lives of patients!</p>
                <p>"Parla Pharmaceuticals", established in September 2019 as the first science-based pharmaceutical company in Azerbaijan, focuses on the full production of high-tech medicine. Our primary goal is to produce high quality pharmaceutical products at an affordable price, and our mission is to develop a customer-oriented approach and leadership in the pharmaceutical market and community. Export of advanced biotechnological and nanotechnological products is one of the focus areas. Parla is ambitious to be the best pharmaceutical brand of Azerbaijan in the world.</p>
                <p></p>
                <p><b>Key responsibilities include:</b></p>
                <ul>
                    <li>Analysis of sales dynamics and development of management dashboard;</li>
                    <li>Developing and maintaining database, analysis of data and reports to monitor Field Force performance using key performance indicators;</li>
                    <li>Competitor analysis;</li>
                    <li>Developing tools and resources to support field employees;</li>
                    <li>Preparing weekly and monthly sales reports; </li>
                    <li>Engagement in call plan and field resource optimisation;</li>
                    <li>Sales team performance calculation and evaluation;</li>
                    <li>Sales achievement and bonus calculation;</li>
                    <li>CRM management</li>
                </ul>
                <p></p>
                <p><b>Key requirements:</b></p>
                <ul>
                    <li>Business Industry & Sales Understanding;</li>
                    <li>Strong strategic and analytical capabilities; </li>
                    <li>Highly analytical with passion for figures and a strong bottom-up analytical approach;</li>
                    <li>Minimum 2 years’ experience in the relevant field;</li>
                    <li>Experience in pharmaceutical industry is desirable;</li>
                    <li>Higher education in the relevant field;</li>
                    <li>Strong command of Microsoft Office365, excellent working knowledge with Excel;</li>
                    <li>Azerbaijani - native, English -intermediate.</li>
                </ul>
                <p></p>
                <p><b>We offer:</b></p>
                <ul>
                    <li>Training and development opportunities within the company;</li>
                    <li>Corporate culture and professional work environment;</li>
                    <li>Private Health Insurance;</li>
                    <li>Corporate number;</li>
                    <li>A good work-life balance: 9 am - 6 pm from Monday to Friday, official vacation and extra day-off options;</li>
                </ul>
                <p>Please send your CVs to <a href="mailto:amira@parlapharma.com">amira@parlapharma.com</a>  no later than 25.05.2020.</p>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs topmargin_40" role="tablist">
                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Vacancies</a></li>
                        <li><a href="#tab2" role="tab" data-toggle="tab">Medical representative vacancy</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab">Sales representative vacancy</a></li>
                    </ul>
                    <div class="tab-content big-padding top-color-border bottommargin_40">
                        <div class="tab-pane fade in active" id="tab1">
                            <h3 class="module-header">Vacancies</h3>
                            <p>PARLA is a company attracting talents for realization potential and creates favourable working conditions for future success and achievements</p>
                            <p><b>We offer:</b></p>
                            <ul>
                                <li>opportunity to become professional in your sphere and to increase expertise in the related areas.</li>
                                <li>to become company’s development driver, to implement ideas, innovations, projects together with the company.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <h3 class="module-header">Medical representative, Baku</h3>
                            <p>We provide you an opportunity to work with talented people, develop in a professional environment and realize your potential. We also hope that you will do your best with us to improve the lives of patients!</p>
                            <p>"Parla Pharmaceuticals", established in September 2019 as the first science-based pharmaceutical company in Azerbaijan, focuses on the full production of high-tech medicine. Our primary goal is to produce high quality pharmaceutical products at an affordable price, and our mission is to develop a customer-oriented approach and leadership in the pharmaceutical market and community. Export of advanced biotechnological and nanotechnological products is one of the main focus areas. Parla is ambitious to be the best pharmaceutical brand of Azerbaijan in the world.</p>

                            <p></p>
                            <p><b>Key responsibilities include:</b></p>
                            <ul>
                                <li>Introduce company products</li>
                                <li>Daily visits to healthcare and medical staff (endocrinologists, cardiologists, therapists, pharmacists, etc.)</li>
                                <li>Conduct market analysis</li>
                                <li>Track sales dynamics</li>
                                <li>Develop and implement an action plan and register in the electronic system</li>
                                <li>Implement educational activities, social projects</li>
                            </ul>

                            <p></p>
                            <p><b>Required qualifications and skills:</b></p>
                            <ul>
                                <li>Higher medical or pharmaceutical education;</li>
                                <li>Work experience: at least 3 years in the sales system in the pharmaceutical business;</li>
                                <li>Communicative, responsible and able to work in a team;</li>
                                <li>Analytical thinking ability;</li>
                                <li>Knowledge of Microsoft Office programs (World, Excel, Power Point);</li>
                                <li>Azerbaijani - native, English and Russian are desirable;</li>
                                <li>Driver's license - Category B.</li>
                            </ul>

                            <p></p>
                            <p><b>We offer:</b></p>
                            <ul>
                                <li>Training and development opportunities within the company;</li>
                                <li>Corporate culture and professional work environment;</li>
                                <li>Private Health Insurance;</li>
                                <li>Corporate number;</li>
                                <li>A good work-life balance: 9 am - 6 pm from Monday to Friday, official vacation and extra day-off options.</li>
                            </ul>
                            <p>Please send your CVs to <a href="mailto:amira@parlapharma.com">amira@parlapharma.com</a>  no later than 25.05.2020.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <h3 class="module-header">Sales representative, Baku</h3>
                            <p>We provide you an opportunity to work with talented people, develop in a professional environment and realize your potential. We also hope that you will do your best with us to improve the lives of patients!</p>
                            <p>"Parla Pharmaceuticals", established in September 2019 as the first science-based pharmaceutical company in Azerbaijan, focuses on the full production of high-tech medicine. Our primary goal is to produce high quality pharmaceutical products at an affordable price, and our mission is to develop a customer-oriented approach and leadership in the pharmaceutical market and community. Export of advanced biotechnological and nanotechnological products is one of the main focus areas. Parla is ambitious to be the best pharmaceutical brand of Azerbaijan in the world.</p>

                            <p></p>
                            <p><b>Key responsibilities include:</b></p>
                            <ul>
                                <li>Introduce company products</li>
                                <li>Daily visits to pharmacies and other medical facilities;</li>
                                <li>Conduct market analysis;</li>
                                <li>Track sales dynamics;</li>
                                <li>Develop and implement an action plan and register in the electronic system;</li>
                                <li>Implement educational activities, social projects.</li>
                            </ul>

                            <p></p>
                            <p><b>Required qualifications and skills:</b></p>
                            <ul>
                                <li>Strong sales skills;</li>
                                <li>Work experience: minimum 1 year in the sales system;</li>
                                <li>Communicative, responsible and able to work in a team;</li>
                                <li>Analytical thinking ability;</li>
                                <li>Knowledge of Microsoft Office programs (World, Excel, Power Point);</li>
                                <li>Azerbaijani - native, English and Russian are desirable;</li>
                                <li>Driver's license - Category B is desirable;</li>
                                <li>Candidates with pharmaceutical background will be preferred.</li>
                            </ul>

                            <p></p>
                            <p><b>We offer:</b></p>
                            <ul>
                                <li>Training and development opportunities within the company;</li>
                                <li>Corporate culture and professional work environment;</li>
                                <li>Private Health Insurance;</li>
                                <li>Corporate number;</li>
                                <li>A good work-life balance: 9 am - 6 pm from Monday to Friday, official vacation and extra day-off options.</li>
                            </ul>
                            <p>Please send your CVs to <a href="mailto:amira@parlapharma.com">amira@parlapharma.com</a>  no later than 25.05.2020.</p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>


@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
            $(document).ready(function () {
                $("#BusinessanalystforSalesEffectivenessBaku").click(function () {
                    $("#BusinessanalystforSalesEffectivenessBakuDetail").toggle('slow');
                });
                $("#MedicalrepresentativeBaku").click(function () {
                    $("#MedicalrepresentativeBakuDetail").toggle('slow');
                });

                $("#SalesrepresentativeBaku").click(function () {
                    $("#SalesrepresentativeBakuDetail").toggle('slow');
                });
                $("#AWhyPARLA").click(function () {
                    ScrollObjects('WhyPARLA', '@ViewBag.PageID', true);
                });
                $("#AVacancies").click(function () {
                    ScrollObjects('Vacancies', '@ViewBag.PageID', true);
                });
                if (location.hash != null || location.hash != '') {
                    var TagID = location.hash.replace('#', '');
                    setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
                }
            });
    </script>
}

