@using ParlaFarmaMVCCore.ViewModels
@model vmdl_ContactUsIno

@{
    ViewData["Title"] = "ContactUs";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.350820524423!2d49.856728015394815!3d40.37891667936946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDIyJzQ0LjEiTiA0OcKwNTEnMzIuMSJF!5e0!3m2!1sen!2s!4v1579434418192!5m2!1sen!2s" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">
                    @ViewBag.DictStr[92][@ViewBag.LanguageID]
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 to_animate" data-animation="scaleAppear">
                <form asp-action="ContactUs" asp-controller="EN/Home" method="post" class="contact-form columns_padding_10 bottommargin_40">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group bottommargin_0">
                                <i class="fa fa-user highlight2" aria-hidden="true"></i> &nbsp;
                                <label asp-for="FullName">
                                    Full Name <span asp-validation-for="FullName" class="required">*</span>
                                </label>
                                <input asp-for="FullName" type="text" aria-required="true" size="30" value="" name="FullName" id="FullName" class="form-control" placeholder="@ViewBag.DictStr[93][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bottommargin_0">
                                <i class="fa fa-phone highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="PhoneNumber">Phone Number <span asp-validation-for="PhoneNumber" class="required">*</span></label>
                                <input asp-for="PhoneNumber" type="text" aria-required="true" size="30" value="" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="@ViewBag.DictStr[95][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bottommargin_0">
                                <i class="fa fa-envelope highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="Email">Email address <span asp-validation-for="Email" class="required">*</span></label>
                                <input asp-for="Email" type="email" aria-required="true" size="30" value="" name="Email" id="Email" class="form-control" placeholder="@ViewBag.DictStr[94][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bottommargin_0">
                                <i class="fa fa-flag highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="Subject">Subject <span asp-validation-for="Subject" class="required">*</span></label>
                                <input asp-for="Subject" type="text" aria-required="true" size="30" value="" name="Subject" id="Subject" class="form-control" placeholder="@ViewBag.DictStr[96][@ViewBag.LanguageID]">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contact-form-message form-group bottommargin_0">
                                <i class="fa fa-comment highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="MessageBody">Message <span asp-validation-for="MessageBody" class="required">*</span></label>
                                <textarea asp-for="MessageBody" aria-required="true" rows="3" cols="45" name="MessageBody" id="MessageBody" class="form-control" placeholder="@ViewBag.DictStr[146][@ViewBag.LanguageID]"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 bottommargin_0">
                            <div class="contact-form-submit topmargin_10">
                                <button type="submit" class="theme_button color2 wide_button margin_0">
                                    @ViewBag.DictStr[97][@ViewBag.LanguageID]
                                </button>  @*id="contact_form_submit" name="contact_submit"*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 to_animate" data-animation="scaleAppear">
                <ul class="list1 no-bullets no-top-border no-bottom-border">
                    <li>
                        <div class="media">
                            <div class="media-left"> <i class="rt-icon2-shop highlight2 fontsize_18"></i> </div>
                            <div class="media-body">
                                <h5 class="media-heading grey">
                                    @ViewBag.DictStr[119][@ViewBag.LanguageID]
                                </h5>
                                16E Keykab khanim Safaraliyeva, Time Business Center, 6th floor
                                <p class="greylinks fontsize_12"> Baku , Azerbaijan </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left"> <i class="rt-icon2-phone5 highlight2 fontsize_18"></i> </div>
                            <div class="media-body">
                                <h5 class="media-heading grey">
                                    @ViewBag.DictStr[63][@ViewBag.LanguageID]:
                                </h5> +99412 310 52 19
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left"> <i class="rt-icon2-stack4 highlight2 fontsize_18"></i> </div>
                            <div class="media-body">
                                <h5 class="media-heading grey">
                                    @ViewBag.DictStr[120][@ViewBag.LanguageID]
                                </h5> +99412 310 52 19
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left"> <i class="rt-icon2-mail highlight2 fontsize_18"></i> </div>
                            <div class="media-body greylinks">
                                <h5 class="media-heading grey">Email:</h5> <a href="mailto:info@parlapharma.com">info@parlapharma.com</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




