

<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="false" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight">
                                            @switch (@ViewBag.Language)
                                            {
                                                case "en":
                                                    @:Shine for Health
                                                    break;
                                                case "az":
                                                    @:Sağlamlıq naminə Parla!
                                                    break;
                                                case "ru":
                                                    @:
                                                    break;
                                            }

                                        </h2>
                                        <p>
                                            @switch (@ViewBag.Language)
                                            {
                                                case "en":
                                                    @:We promise a healthier tomorrow for our patients
                                                    break;
                                                case "az":
                                                    @:Biz daha sağlam gələcək naminə çalışırıq.
                                                    break;
                                                case "ru":
                                                    @:
                                                    break;
                                            }

                                        </p>
                                        <a href="#" class="theme_button color2 inverse margin_0">
                                            @switch (@ViewBag.Language)
                                            {
                                                case "en":
                                                    @:Discover Now
                                                    break;
                                                case "az":
                                                    @:Daha ətraflı
                                                    break;
                                                case "ru":
                                                    @:
                                                    break;
                                            }

                                        </a>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/Homepage 2nd slider.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight"></h2>
                                        <p style="font-size:25px;">
                                            @switch (@ViewBag.Language)
                                            {
                                                case "en":
                                                    @:Our aim is to improve healthcare access and quality of life
                                                    break;
                                                case "az":
                                                    @:Bizim məqsədimiz səhiyyə xidmətlərinin daha əlçatan olmasına nail olmaq və insanların həyat keyfiyyətlərini yaxşılaşdırmaqdır.
                                                    break;
                                                case "ru":
                                                    @:
                                                    break;
                                            }

                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/Homepage 3rd slider.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight"></h2>
                                        <p style="font-size:25px;">
                                            @switch (@ViewBag.Language)
                                            {
                                                case "en":
                                                    @:We focus on contributing to benefit our patientsWe focus on contributing to benefit our patients, society and environment
                                                    break;
                                                case "az":
                                                    @:Cəmiyyətimizə, pasiyentlərimizə və ətraf mühitə öz töhfəmizi vermək üçün dayanmadan çalışırıq.
                                                    break;
                                                case "ru":
                                                    @:
                                                    break;
                                            }

                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

















<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header">
                    @switch (@ViewBag.Language)
                    {
                        case "en":
                            @:Welcome to Our Website
                            break;
                        case "az":
                            @:Vebsaytımıza xoş gəlmisiniz!
                            break;
                        case "ru":
                            @:
                            break;
                    }

                </h2>
                <p>
                    @switch (@ViewBag.Language)
                    {
                        case "en":
                            @:We are the first science-based pharmaceutical company in Azerbaijan, focusing on the full production of high-technology medicines.
                            break;
                        case "az":
                            @:“Parla Pharmaceuticals” yüksək texnologiyalı dərmanların tam istehsalına yönəlmiş Azərbaycanda ilk elmi əsaslı əczaçılıq şirkətidir.
                            break;
                        case "ru":
                            @:
                            break;
                    }

                </p>

            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div data-id="ParlaTeam"></div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-user"></i> </div>
                    <h4 class="topmargin_20 hover-color2">
                        @switch (@ViewBag.Language)
                        {
                            case "en":
                                @:Parla Team
                                break;
                            case "az":
                                @:Komandamız
                                break;
                            case "ru":
                                @:
                                break;
                        }

                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="~/EN/Home/AboutUs#ParlaTeam" class="theme_button color2 inverse min_width_button">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:Our Team
                                    break;
                                case "az":
                                    @:Daha ətraflı
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </a>
                    </p>
                </div>
            </div>
            <div data-id="OurCulture"></div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-bulb"></i> </div>
                    <h4 class="topmargin_20 hover-color2">
                        @switch (@ViewBag.Language)
                        {
                            case "en":
                                @:Parla Culture
                                break;
                            case "az":
                                @:Korporativ mühit\a
                                break;
                            case "ru":
                                @:
                                break;
                        }

                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="~/EN/Home/AboutUs#OurCulture" class="theme_button color2 inverse min_width_button">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:Discover Now
                                    break;
                                case "az":
                                    @:Daha ətraflı
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </a>
                    </p>
                    <span class="bottom_corners"></span>
                </div>
            </div>
            <div data-id="SocialResponsibility"></div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-paperplane"></i> </div>
                    <h4 class="topmargin_20 hover-color2">
                        @switch (@ViewBag.Language)
                        {
                            case "en":
                                @:Social Responsibility
                                break;
                            case "az":
                                @:Sosial məsuliyyət
                                break;
                            case "ru":
                                @:
                                break;
                        }

                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="~/EN/Home/AboutUs#SocialResponsibility" class="theme_button color2 inverse min_width_button">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:Check It
                                    break;
                                case "az":
                                    @:Daha ətraflı
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="OurVision"></div>
<section id="testimonials" class="parallax section_subscribe ls section_padding_top_0 section_padding_bottom_50 HomePageVisionBackground">
    <div class="container">
        <div class="row">
            <article class="author-meta side-item side-md content-padding with_border rounded">
                <div class="row" style="">
                    <div class="col-md-4">
                        <div class="item-media top_rounded overflow_hidden">
                            <img src="~/lib/pharma/images/vision.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="item-content">
                            <h2 class="bottommargin_0">
                                @*@ViewBag.DictStr[0][0]*@
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Our Vision
                                        break;
                                    case "az":
                                        @:Görümüz
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </h2>
                            <br /><br /><br /><br />
                            <ul style="font-size:25px;">
                                <li>
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Improving health care access and quality of life
                                            break;
                                        case "az":
                                            @:Səhiyyə xidmətlərinə çıxışı və pasiyentlərin həyat keyfiyyətini yaxşılaşdırmaq
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                </li>
                            </ul>
                            <ul style="font-size:25px;">
                                <li>
                                    @switch (@ViewBag.Language)
                                    {
                                        case "en":
                                            @:Creating added value for  our customers, staff, business partner and  shareholders
                                            break;
                                        case "az":
                                            @:Müştərilərimiz, əməkdaşlarımız, biznes tərəfdaşlarımız və səhmdarlarımız üçün əlavə dəyər yaratmaq
                                            break;
                                        case "ru":
                                            @:
                                            break;
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


















<div data-id="OurMission"></div>
<section id="testimonials" class="parallax section_subscribe ds section_padding_top_50 section_padding_bottom_50 HomePageMissionBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section_header ">
                    @switch (@ViewBag.Language)
                    {
                        case "en":
                            @:Our Mission
                            break;
                        case "az":
                            @:Missiyamız
                            break;
                        case "ru":
                            @:
                            break;
                    }

                </h2>
                <div id="gallery-owl-carousel" class="owl-carousel dots-center with_border_items" data-items="4" data-responsive-lg="4" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-dots="false">
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/1.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Establishing a first class Pharmaceutical company in Azerbaijan and all CIS region
                                        break;
                                    case "az":
                                        @:Azərbaycanda və bütün MDB regionunda ən qabaqcıl əczaçılıq şirkətinə çevrilmək
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/2.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">

                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Developing customer orientation and leadership in the market
                                        break;
                                    case "az":
                                        @:Bazarda müştəri yönümlü yanaşma və liderliyi inkişaf etdirmək
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/3.png" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Offering high quality products with most affordable prices for customers
                                        break;
                                    case "az":
                                        @:Münasib qiymət və yüksək keyfiyyətli dərman məhsulları təmin etmək
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/4.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @switch (@ViewBag.Language)
                                {
                                    case "en":
                                        @:Creating raving fans among clients and customers
                                        break;
                                    case "az":
                                        @:Müştərilər üçün güvənli tərəfdaşa çevrilmək
                                        break;
                                    case "ru":
                                        @:
                                        break;
                                }

                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="OurValues"></div>
<partial name="_OurValuesPartial" />

<section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_150 columns_padding_25">
    <div class="container">
        <div class="row display_table_md">
            <h2 class="section_header leftpadding_25">Products</h2>
            <p class="highlight bottommargin_20 leftpadding_25"><strong>We provide high quality products with  affordable price.</strong></p>
            <p class="topmargin_30 leftpadding_25">
                <a href="~/EN/Home/Products" class="theme_button color2 inverse">Product Strategy</a>
            </p>
            @*</div>*@
        </div>
        @*<center>*@
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel related-photos-carousel with_border_items" data-margin="50" data-nav="true" data-loop="true" data-items="3">
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/02.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/endocrinology1.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            Endocrinology
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/Images/gallery/03.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/Images/cardiovascular1.png"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan2">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            Cardiovascular
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/04.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gastroenterology1.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan3">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            Gastroenterology
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/dermotology2.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan4">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            Dermatology
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/06.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/dermotology2.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan4">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            OTC
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        @*</center>*@
        @*<div class="row topmargin_30">
                <div class="col-sm-12">
                    <div class="owl-carousel gallery-carousel" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="true" data-dots="false">
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/02.jpg" alt="">
                                <div class="media-links inverse">
                                    <a href="~/lib/pharma/images/gallery/02.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/03.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/03.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/04.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/04.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/05.jpg" alt="">dermotology
                                <div class="media-links inverse"> <a href="images/gallery/05.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/06.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/06.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/07.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/07.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/08.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/08.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>

<section id="WhyParla" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">
                    @switch (@ViewBag.Language)
                    {
                        case "en":
                            @:Why Parla?
                            break;
                        case "az":
                            @:Nə üçün PARLA?
                            break;
                        case "ru":
                            @:
                            break;
                    }

                </h2>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ls section_padding_top_0 section_padding_bottom_50 columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4">
                <h2 class="section_header">Why Parla?</h2>
            </div>*@
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-diamond2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody" >
                        <h5 class="hover-color2">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:We have passion to help patients
                                    break;
                                case "az":
                                    @:Pasiyentlər bizim üçün önəmlidir
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </h5>
                        <p>
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:Improving quality of life of patients is focus of Parla. We make sure this will be the base of all our decisions and actions. we make our medicine available and affordable for the patients.
                                    break;
                                case "az":
                                    @:PARLAnın əsas maraqlarından biri pasiyentlərin həyat keyfiyyətinin yaxşılaşdırılmasıdır. Bu, bizim aldığımız bütün qərarların və fəaliyyətimizin əsasında dayanır.
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:We offer a best place to work to our employees
                                    break;
                                case "az":
                                    @:Biz əməkdaşlarımıza ən yaxşı iş yeri təklif edirik
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </h5>
                        <p>
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:We offer a nice and welcome working environment to help people to learn and grow. We believe in empowerment together with support which help people to develop their skills in high standards.
                                    break;
                                case "az":
                                    @:Xoş və rahat iş mühiti təmin etməklə, əməkdaşlarımızın öyrənərək inkişaf etməsinə şərait yaradırıq. Bizim üçün əməkdaşlarımızın peşəkar və fərdi inkişafı böyük önəm kəsb edir.
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:We use innovation and advance technology to provide the best products with high standards
                                    break;
                                case "az":
                                    @:İnnovasiya və yüksək texnologiya əsasında keyfiyyətli dərman məhsulları təmin edirik
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </h5>
                        <p>
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:As the first science-based pharmaceutical company of Azerbaijan, we focus on the full production of high-tech products. Our portfolio also includes biotechnological and nanotechnological products. We provide high quality pharmaceutical products with high GMP standards.
                                    break;
                                case "az":
                                    @:Azərbaycanın ilk elmi əsaslı əczaçılıq şirkəti olaraq, yüksək texnologiyalı dərmanların istehsalını həyata keçirməyə yönəlmişik. Məhsul portfelimizə,həmçinin, biotexnoloji və nanotexnoloji dərmanlar da daxildir. Yüksək keyfiyyətli əczaçılıq məhsulları yüksək GMP standartlarına cavab verir.
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:We are responsible for our society and our environment
                                    break;
                                case "az":
                                    @:Biz cəmiyyət və ətraf mühit qarşısındakı məsuliyyətlərimizi dərk edirik
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </h5>
                        <p>
                            @switch (@ViewBag.Language)
                            {
                                case "en":
                                    @:To have a sustainable business, Parla is responsible for its society and environment. We collaborate with related stakeholders in our disease areas as a part of social responsibility activities. Also, to keep our planet safe for all of us, we have some policies which underpins every decision and action we make.
                                    break;
                                case "az":
                                    @:Biznesin dayanıqlılığına nail olmaq üçün PARLA öz qarşısına cəmiyyət və ətraf mühitlə bağlı məsuliyyətlər qoyub. Biz bütün fəaliyyətimizdə bu sosial məsuliyyət öhdəliklərini qəbul edir və bu istiqamətdə müvafiq tərəflərlə əməkdaşlıq edərək Korporativ Sosial Məsuliyyət (KSM) layihələri həyata keçiririk.
                                    break;
                                case "ru":
                                    @:
                                    break;
                            }

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-center">
                <div class="background_cover contact-form-wrapper">
                    <h2 class="section_header">Contact Form</h2>
                    <form class="contact-form row" method="post" action="http://webdesign-finder.com/html/pharma/">
                        <div class="col-sm-6">
                            <div class="contact-form-name"> <label for="name">Full Name <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Name"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-email"> <label for="email">Email address<span class="required">*</span></label> <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Email Address"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-phone"> <label for="phone">Phone<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control text-center" placeholder="Phone Number"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-subject"> <label for="subject">Subject<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control text-center" placeholder="Your Subject"> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contact-form-message"> <label for="message">Message</label> <textarea aria-required="true" rows="4" cols="45" name="message" id="message" class="form-control text-center" placeholder="Message..."></textarea> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color2 inverse min_width_button">Send Message</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AOurValues").click(function () {
                ScrollObjects('OurValues', '@ViewBag.PageID', true);
            });

            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurVision").click(function () {
                ScrollObjects('OurVision', '@ViewBag.PageID', true);
            });

            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }

        });
    </script>
}
