@using ParlaFarmaMVCCore.ViewModels
@model vmdl_ContactUsIno

<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding">
                                        @*data-animation="slideExpandUp"*@
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight" style="padding-top:100px;">
                                            @ViewBag.DictStr[27][@ViewBag.LanguageID]
                                        </h2>
                                        <p style="font-weight:bold;">
                                            @ViewBag.DictStr[28][@ViewBag.LanguageID]
                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                            @ViewBag.DictStr[29][@ViewBag.LanguageID]
                                        </a>
                                        <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/Homepage 2nd slider.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding">
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight"></h2>
                                        <p style="font-weight:bold;">
                                            @ViewBag.DictStr[30][@ViewBag.LanguageID]
                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/PublishedSiteSliderPics/Homepage 3rd slider.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_padding small-padding" >
                                        <h5 class="thin"> </h5>
                                        <h2 class="highlight"></h2>
                                        <p style="font-weight:bold;">
                                            @ViewBag.DictStr[31][@ViewBag.LanguageID]
                                        </p>
                                        @*<a href="#" class="theme_button color2 inverse margin_0">
                                                Discover Now
                                            </a>
                                            <span class="bottom_corners"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[32][@ViewBag.LanguageID]
                </h2>
                <p class="HomeContentCenter">
                        @ViewBag.DictStr[33][@ViewBag.LanguageID]
                </p>

            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div data-id="ParlaTeam"></div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight">
                        @*<i class="rt-icon2-user"></i>*@
                        <img src="~/lib/pharma/images/Icons/All Icones-01.png" />
                    </div>
                    <h4 class="topmargin_20 hover-color2">
                        @*@ViewBag.DictStr[34][@ViewBag.LanguageID]*@
                        <img src="~/lib/pharma/images/Icons/All Icones-02.png" />
                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="javascript:navigateMe('/EN/Home/AboutUs', '#ParlaTeam');" class="theme_button color2 inverse min_width_button">
                            @ViewBag.DictStr[8][@ViewBag.LanguageID]
                        </a>
                    </p>
                </div>
            </div>
            <div data-id="OurCulture"></div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-bulb"></i> </div>
                    <h4 class="topmargin_20 hover-color2">
                        @ViewBag.DictStr[35][@ViewBag.LanguageID]
                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="javascript:navigateMe('/EN/Home/AboutUs', '#OurCulture');" class="theme_button color2 inverse min_width_button">
                            @ViewBag.DictStr[29][@ViewBag.LanguageID]
                        </a>
                    </p>
                    <span class="bottom_corners"></span>
                </div>
            </div>
            <div data-id="SocialResponsibility"></div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-paperplane"></i> </div>
                    <h4 class="topmargin_20 hover-color2">
                        @ViewBag.DictStr[10][@ViewBag.LanguageID]
                    </h4>
                    <p class="topmargin_30 bottommargin_0">
                        <a href="javascript:navigateMe('/EN/Home/AboutUs', '#SocialResponsibility');" class="theme_button color2 inverse min_width_button">
                            @ViewBag.DictStr[36][@ViewBag.LanguageID]
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="OurVision"></div>
<section id="testimonials" class="parallax section_subscribe ls section_padding_top_0 section_padding_bottom_50 HomePageVisionBackground">
    <div class="container">
        <div class="row">
            <article class="author-meta side-item side-md content-padding with_border rounded">
                <div class="row" style="">
                    <div class="col-md-4">
                        <div class="item-media top_rounded overflow_hidden">
                            <img src="~/lib/pharma/images/vision.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="item-content">
                            <h2 class="bottommargin_0 PartTitles">
                                @ViewBag.DictStr[5][@ViewBag.LanguageID]
                            </h2>
                            <br /><br /><br /><br />
                            <ul style="font-size:25px;">
                                <li>
                                    @ViewBag.DictStr[37][@ViewBag.LanguageID]
                                </li>
                            </ul>
                            <ul style="font-size:25px;">
                                <li>
                                    @ViewBag.DictStr[38][@ViewBag.LanguageID]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<div data-id="OurMission"></div>
<section id="testimonials" class="parallax section_subscribe ds section_padding_top_50 section_padding_bottom_50 HomePageMissionBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[6][@ViewBag.LanguageID]
                </h2>
                <div id="gallery-owl-carousel" class="owl-carousel dots-center with_border_items" data-items="4" data-responsive-lg="4" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="false" data-dots="true">
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/1.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @ViewBag.DictStr[39][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/2.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">

                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @ViewBag.DictStr[40][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/3.png" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @ViewBag.DictStr[41][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                    <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                        <div class="item-media">
                            <img src="~/lib/pharma/images/Mission/4.png" alt="">
                            <div class="media-links">
                                <div class="links-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="item-content HomePageMissionContent">
                            <p>
                                @ViewBag.DictStr[42][@ViewBag.LanguageID]
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-id="OurValues"></div>
<partial name="_OurValuesPartial" />

<section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_150 columns_padding_25">
    <div class="container">
        <div class="row display_table_md">
            <h2 class="section_header leftpadding_25 PartTitles">
                @ViewBag.DictStr[11][@ViewBag.LanguageID]
            </h2>
            <p class="highlight bottommargin_20 leftpadding_25">
                <strong>
                    @ViewBag.DictStr[142][@ViewBag.LanguageID]
                </strong>
            </p>
            <p class="topmargin_30 leftpadding_25">
                <a href="javascript:navigateMe('/EN/Home/Products');" class="theme_button color2 inverse">
                    @ViewBag.DictStr[143][@ViewBag.LanguageID]
                </a>
            </p>
            @*</div>*@
        </div>
        @*<center>*@
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel related-photos-carousel with_border_items" data-margin="50" data-nav="true" data-loop="true" data-items="3">
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/02.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/endocrinology1.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            @ViewBag.DictStr[104][@ViewBag.LanguageID]
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/Images/gallery/03.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/Images/cardiovascular1.png"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan2">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            @ViewBag.DictStr[103][@ViewBag.LanguageID]
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/04.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gastroenterology1.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan3">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            @ViewBag.DictStr[105][@ViewBag.LanguageID]
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/dermotology2.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan4">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            @ViewBag.DictStr[144][@ViewBag.LanguageID]
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                            <div class="item-media">
                                <img src="~/lib/pharma/images/gallery/06.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        @*<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/dermotology2.jpg"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="item-content plan4">
                                <header class="entry-header">
                                    <h4 class="entry-title margin_0">
                                        <a href="~/EN/Home/Products" rel="bookmark">
                                            @ViewBag.DictStr[145][@ViewBag.LanguageID]
                                        </a>
                                    </h4>
                                </header>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        @*</center>*@
        @*<div class="row topmargin_30">
                <div class="col-sm-12">
                    <div class="owl-carousel gallery-carousel" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="true" data-dots="false">
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/02.jpg" alt="">
                                <div class="media-links inverse">
                                    <a href="~/lib/pharma/images/gallery/02.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/03.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/03.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/04.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/04.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/05.jpg" alt="">dermotology
                                <div class="media-links inverse"> <a href="images/gallery/05.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/06.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/06.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/07.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/07.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                        <div class="gallery-item rounded">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/gallery/08.jpg" alt="">
                                <div class="media-links inverse"> <a href="images/gallery/08.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>

<section id="WhyParla" class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[43][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ls section_padding_top_0 section_padding_bottom_50 columns_margin_bottom_30">
    <div class="container">
        <div class="row HomeContentJustify">
            @*<div class="col-md-4">
                    <h2 class="section_header">Why Parla?</h2>
                </div>*@
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-diamond2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[44][@ViewBag.LanguageID]
                        </h5>
                        <p>
                            @ViewBag.DictStr[45][@ViewBag.LanguageID]
                        </p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[46][@ViewBag.LanguageID]
                        </h5>
                        <p>
                            @ViewBag.DictStr[47][@ViewBag.LanguageID]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[48][@ViewBag.LanguageID]
                        </h5>
                        <p>
                            @ViewBag.DictStr[49][@ViewBag.LanguageID]
                        </p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10 HomeWhyParlaMediaBody">
                        <h5 class="hover-color2">
                            @ViewBag.DictStr[50][@ViewBag.LanguageID]
                        </h5>
                        <p>
                            @ViewBag.DictStr[51][@ViewBag.LanguageID]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-center">
                <div class="background_cover contact-form-wrapper">
                    <h2 class="section_header PartTitles">
                        @ViewBag.DictStr[92][@ViewBag.LanguageID]
                    </h2>
                    <form asp-action="ContactUs" asp-controller="EN/Home" method="post" class="contact-form columns_padding_10 bottommargin_40">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group bottommargin_0">
                                    <i class="fa fa-user highlight2" aria-hidden="true"></i> &nbsp;
                                    <label asp-for="FullName">
                                        Full Name <span asp-validation-for="FullName" class="required">*</span>
                                    </label>
                                    <input asp-for="FullName" type="text" aria-required="true" size="30" value="" name="FullName" id="FullName" class="form-control" placeholder="@ViewBag.DictStr[93][@ViewBag.LanguageID]">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group bottommargin_0">
                                    <i class="fa fa-phone highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="PhoneNumber">Phone Number <span asp-validation-for="PhoneNumber" class="required">*</span></label>
                                    <input asp-for="PhoneNumber" type="text" aria-required="true" size="30" value="" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="@ViewBag.DictStr[95][@ViewBag.LanguageID]">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group bottommargin_0">
                                    <i class="fa fa-envelope highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="Email">Email address <span asp-validation-for="Email" class="required">*</span></label>
                                    <input asp-for="Email" type="email" aria-required="true" size="30" value="" name="Email" id="Email" class="form-control" placeholder="@ViewBag.DictStr[94][@ViewBag.LanguageID]">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group bottommargin_0">
                                    <i class="fa fa-flag highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="Subject">Subject <span asp-validation-for="Subject" class="required">*</span></label>
                                    <input asp-for="Subject" type="text" aria-required="true" size="30" value="" name="Subject" id="Subject" class="form-control" placeholder="@ViewBag.DictStr[96][@ViewBag.LanguageID]">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="contact-form-message form-group bottommargin_0">
                                    <i class="fa fa-comment highlight2" aria-hidden="true"></i>&nbsp;<label asp-for="MessageBody">Message <span asp-validation-for="MessageBody" class="required">*</span></label>
                                    <textarea asp-for="MessageBody" aria-required="true" rows="3" cols="45" name="MessageBody" id="MessageBody" class="form-control" placeholder="@ViewBag.DictStr[146][@ViewBag.LanguageID]"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 bottommargin_0">
                                <div class="contact-form-submit topmargin_10">
                                    <button type="submit" class="theme_button color2 wide_button margin_0">
                                        @ViewBag.DictStr[97][@ViewBag.LanguageID]
                                    </button>  @*id="contact_form_submit" name="contact_submit"*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#AParlaTeam").click(function () {
                ScrollObjects('ParlaTeam', '@ViewBag.PageID', true);
            });
            $("#AOurCulture").click(function () {
                ScrollObjects('OurCulture', '@ViewBag.PageID', true);
            });
            $("#ASocialResponsibility").click(function () {
                ScrollObjects('SocialResponsibility', '@ViewBag.PageID', true);
            });
            $("#AOurValues").click(function () {
                ScrollObjects('OurValues', '@ViewBag.PageID', true);
            });

            $("#AAboutParla").click(function () {
                ScrollObjects('AboutParla', '@ViewBag.PageID', true);
            });
            $("#AOurMission").click(function () {
                ScrollObjects('OurMission', '@ViewBag.PageID', true);
            });
            $("#AOurVision").click(function () {
                ScrollObjects('OurVision', '@ViewBag.PageID', true);
            });

            if (location.hash != null || location.hash != '') {
                var TagID = location.hash.replace('#', '');
                setTimeout(ScrollObjects(TagID, '@ViewBag.PageID', false), 5000);
            }

        });
    </script>
}
