
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}


<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            @{
                try
                {
                    foreach (var item in ViewBag.sliders)
                    {
                        <li>
                            <img src="~/Uploads/@item.Image" tppabs="http://webdesign-finder.com/html/pharma/images/slide01.jpg" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="slide_description_wrapper">
                                            <div class="slide_description">
                                                @*with_corner_border*@
                                                <div class="intro-layer with_padding small-padding" data-animation="slideExpandUp">
                                                    <h5 class="thin"> @item.Title1</h5>
                                                    <h2 class="highlight">@item.Title2</h2>
                                                    <p> @item.Title3 </p>
                                                    @if (@item.ButtonText != null && @item.ButtonText.Length > 0)
                                                    {
                                                        <a href="@item.ButtonLink" tppabs="http://webdesign-finder.com/html/pharma/pipeline.html" class="theme_button color2 inverse margin_0">
                                                            @item.ButtonText
                                                        </a>
                                                        <span class="bottom_corners"></span>
                                                    }
                                                </div>
                                            </div>
                                            <!-- eof .slide_description -->
                                        </div>
                                        <!-- eof .slide_description_wrapper -->
                                    </div>
                                    <!-- eof .col-* -->
                                </div>
                                <!-- eof .row -->
                            </div>
                            <!-- eof .container -->
                        </li>
                    }
                }
                catch (Exception)
                {
                    ;
                }
            }
        </ul>
    </div>
    <!-- eof flexslider -->
</section>




<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header"> Welcome to Our Site! </h2>
                <p>We are the first science-based pharmaceutical company in Azerbaijan, focusing on the full production of high-technology medicines.</p>
            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-user"></i> </div>
                    <h4 class="topmargin_20 hover-color2"><a href="team.html" tppabs="http://webdesign-finder.com/html/pharma/team.html">Parla Team</a></h4>
                    <p class="content-3lines-ellipsis">Our professional team is one of our key values.</p>
                    <p class="topmargin_30 bottommargin_0"> <a href="team.html" tppabs="http://webdesign-finder.com/html/pharma/team.html" class="theme_button color2 inverse min_width_button">Our Team</a> </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-bulb"></i> </div>
                    <h4 class="topmargin_20 hover-color2"><a href="departments.html" tppabs="http://webdesign-finder.com/html/pharma/departments.html">Parla culture</a></h4>
                    <p class="content-3lines-ellipsis">We Interrogate the inner life of GPCR signaling to develop newest therapeutics.</p>
                    <p class="topmargin_30 bottommargin_0"> <a href="departments.html" tppabs="http://webdesign-finder.com/html/pharma/departments.html" class="theme_button color2 min_width_button">Discover Now</a> </p> <span class="bottom_corners"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-paperplane"></i> </div>
                    <h4 class="topmargin_20 hover-color2"><a href="pipeline.html" tppabs="http://webdesign-finder.com/html/pharma/pipeline.html">Social Responsibility</a></h4>
                    <p class="content-3lines-ellipsis">Staying true to our mission, values and culture we focus on contributing to benefit our patients, society and environment.</p>
                    <p class="topmargin_30 bottommargin_0"> <a href="pipeline.html" tppabs="http://webdesign-finder.com/html/pharma/pipeline.html" class="theme_button color2 inverse min_width_button">Check It</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_150 columns_padding_25">
    <div class="container">
        <div class="row display_table_md">
            @*<div class="col-md-6 col-md-push-6 display_table_cell_md"> <img src="~/lib/pharma/images/gallery/01.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/01.jpg" alt="" class="rounded"> </div>*@
            @*<div class="col-md-6 col-md-pull-6 display_table_cell_md">*@
            <h2 class="section_header">Products</h2>
            <p class="highlight bottommargin_20"><strong>We provide high quality products with  affordable price.</strong></p>
            @*<p>
                    been significantly de-risked. At vero eos et accusam justo duo dolores etea rebuitet clita kasd gubergren nosea takimata sanctus est lorem ipsum dolor consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore magna aliquyam sedam
                    voluptua at vero eos et accusam et justo duo dolores.
                </p>*@
            <p class="topmargin_30">
                <a href="gallery-regular-3-cols.html" class="theme_button color2 inverse">See All Projects</a>
            </p>
            @*</div>*@
        </div>
        <center>
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel related-photos-carousel with_border_items" data-margin="50" data-nav="true" data-loop="true" data-items="3">
                        <div>
                            <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/endocrinology1.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/endocrinology1.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <h4 class="entry-title margin_0">
                                            <a href="gallery-single.html" rel="bookmark">
                                                endocrinology
                                            </a>
                                        </h4>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div>
                            <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/Images/cardiovascular1.png" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/Images/cardiovascular1.png"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content plan2">
                                    <header class="entry-header">
                                        <h4 class="entry-title margin_0">
                                            <a href="gallery-single.html" rel="bookmark">
                                                cardiovascular
                                            </a>
                                        </h4>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div>
                            <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gastroenterology1.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gastroenterology1.jpg" ></a> </div>
                                    </div>
                                </div>
                                <div class="item-content plan3">
                                    <header class="entry-header">
                                        <h4 class="entry-title margin_0">
                                            <a href="gallery-single.html" rel="bookmark">
                                                gastroenterology
                                            </a>
                                        </h4>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div>
                            <article class="vertical-item content-padding post format-standard with_border  overflow-hidden text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/dermotology2.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/dermotology2.jpg" ></a> </div>
                                    </div>
                                </div>
                                <div class="item-content plan4">
                                    <header class="entry-header">
                                        <h4 class="entry-title margin_0">
                                            <a href="gallery-single.html" rel="bookmark">
                                                dermotology
                                            </a>
                                        </h4>
                                    </header>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        <div class="row topmargin_30">
            <div class="col-sm-12">
                <div class="owl-carousel gallery-carousel" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="true" data-dots="false">
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg" alt="">
                            <div class="media-links inverse">
                                <a href="~/lib/pharma/images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/02.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" alt="">
                            <div class="media-links inverse"> <a href="images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/03.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg" alt="">
                            <div class="media-links inverse"> <a href="images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/04.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/05.jpg" alt="">dermotology
                            <div class="media-links inverse"> <a href="images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/05.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/06.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/06.jpg" alt="">
                            <div class="media-links inverse"> <a href="images/gallery/06.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/06.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/07.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/07.jpg" alt="">
                            <div class="media-links inverse"> <a href="images/gallery/07.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/07.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/lib/pharma/images/gallery/08.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/08.jpg" alt="">
                            <div class="media-links inverse"> <a href="images/gallery/08.jpg" tppabs="http://webdesign-finder.com/html/pharma/images/gallery/08.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section_header">Why Choose Us?</h2> <a href="about.html" tppabs="http://webdesign-finder.com/html/pharma/about.html" class="theme_button color2 inverse min_width_button">About Us</a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-diamond2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Newest Technologies</a></h5>
                        <p>Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Taking Care of Nature</a></h5>
                        <p>Ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Fair Prices</a></h5>
                        <p>At vero eos et accusam ejusto duo dolores et ea rebum clita gubergren.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">High Customer Satisfaction</a></h5>
                        <p>Nosea takimata sanctus est lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-center">
                <div class="background_cover contact-form-wrapper">
                    <h2 class="section_header">Contact Form</h2>
                    <form class="contact-form row" method="post" action="http://webdesign-finder.com/html/pharma/">
                        <div class="col-sm-6">
                            <div class="contact-form-name"> <label for="name">Full Name <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Name"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-email"> <label for="email">Email address<span class="required">*</span></label> <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Email Address"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-phone"> <label for="phone">Phone<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control text-center" placeholder="Phone Number"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-form-subject"> <label for="subject">Subject<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control text-center" placeholder="Your Subject"> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contact-form-message"> <label for="message">Message</label> <textarea aria-required="true" rows="4" cols="45" name="message" id="message" class="form-control text-center" placeholder="Message..."></textarea> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color2 inverse min_width_button">Send Message</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
