
@{
    ViewData["Title"] = "News";
    //Layout = "~/Areas/EN/Views/Shared/_GeneralLayout.cshtml";
}
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                @*<h2>Pipeline</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a href="index.htm" tppabs="http://webdesign-finder.com/html/pharma/">
                            Home
                        </a>
                    </li>
                    <li> <a href="#">Pages</a> </li>
                    <li class="active">Pipeline</li>
                </ol>*@
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_50 section_padding_bottom_130">
    <div class="container">
        
        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/PARLA Logo.png" class="with_border" />
                    </div>
                    <div class="item-content">
                        <h4 style="padding-top:20px;padding-bottom:20px;">
                            @ViewBag.DictStr[171][@ViewBag.LanguageID]
                        </h4>
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/10');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2022/06/30
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/PARLA Logo.png" class="with_border" />
                    </div>
                    <div class="item-content">
                        <h4 style="padding-top: 32px;padding-bottom: 32px;">
                            @ViewBag.DictStr[167][@ViewBag.LanguageID]
                        </h4>
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/9');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2022/06/24
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/PARLA Logo.png" class="with_border" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:16px;">
                                @ViewBag.DictStr[168][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4 style="font-size:22px;">
                                @ViewBag.DictStr[168][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/8');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2022/06/17,18
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/ParlasinAzerbaijan/parla sin FINAL-News.png" class="with_border" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:20px;">
                                @ViewBag.DictStr[135][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4 style="font-size:28px;">
                                @ViewBag.DictStr[135][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/7');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2021/09/21
                        </p>
                    </div>
                </article>
            </div>

        </div>

        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/PARLA Logo.png" class="with_border" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:20px;">
                                @ViewBag.DictStr[155][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4 style="font-size:20px;padding-top:7px;padding-bottom:7px;">
                                @ViewBag.DictStr[155][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/6');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2021/09/21
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/Ulduz-news.jpg" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:20px;" >
                                @ViewBag.DictStr[156][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4 style="padding-top: 12px;padding-bottom: 13px;">
                                @ViewBag.DictStr[156][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/5');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2021/09/21
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/Hamayesh-News.jpg" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:25px;">
                                @ViewBag.DictStr[157][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4>
                                @ViewBag.DictStr[157][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/4');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2021/09/21
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/17 esas[4383].png" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4 style="font-size:28px;">
                                @ViewBag.DictStr[158][@ViewBag.LanguageID]
                            </h4>
                        }
                        else 
                        {
                            <h4 style="padding-top:13px;padding-bottom:12px;">
                                @ViewBag.DictStr[158][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/3');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2021/06/06
                        </p>
                    </div>
                </article>
            </div>

        </div>

        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/DSC01896-1.jpg" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4>
                                @ViewBag.DictStr[159][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4>
                                @ViewBag.DictStr[159][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/2');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2020/07/03
                        </p>
                    </div>
                </article>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/DSC01775.jpg" />
                    </div>
                    <div class="item-content">
                        @if(ViewBag.Language == "az")
                        {
                            <h4>
                                @ViewBag.DictStr[160][@ViewBag.LanguageID]
                            </h4>
                        }
                        else
                        {
                            <h4>
                                @ViewBag.DictStr[160][@ViewBag.LanguageID]
                            </h4>
                        }
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/1');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                            <br />2020/07/02
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

