
@{
    ViewData["Title"] = "AboutUs";
}

 
<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    @*@ViewBag.DictStr[99][@ViewBag.LanguageID]*@
                </h2>
            </div>
        </div>
    </div>
</section>



<section class="ls section_padding_top_100 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[161][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Nidapar<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Metronidazole 250 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name:</b> Metronidazole<br />
                                        @:Nidapar has antiprotozoan and antibacterial effects.
                                        <span id="MoreLessP3" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product3" style="display:none;">
                                            It is effects against Trichomonas vaginalis, Gardnerella vaginalis and other protazoa including Entamoeba histolytica, Gardia lamblia, Balantidium coli and Helicobacter pylori and anaerobic bacteria.
                                            Nidapar is a time-tested antibacterial drug for the treatment and prevention of various infections.
                                            <br />Metronidazole should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Metronidazole<br />
                                        @:Nidapar antimikrob və antiprotozoy dərman vasitəsidir.
                                        <span id="MoreLessP3" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product3" style="display:none;">
                                            Trichomonas vaginalis, Gardnerella vaginalis və Entamoeba histolytica, Giardia lamblia, Balantidium coli və digər protozoylara, Helicobacter pylori daxil olmaqla və anaerob bakteriyalara qarşı təsirlidir.Nidapar – zamanla sınanmış, geniş sübut bazasına malik olan, müxtəlif infeksiyaların müalicə və profilaktikası üçün antibacterial dərman vasitəsidir.
                                            <br />Metronidazol həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Products/NewVersion/nidapar 250.jpg" />
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Products/NewVersion/nidapar.jpg" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Nidapar<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Metronidazole 500 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name:</b> Metronidazole<br />
                                        @:Nidapar has antiprotozoan and antibacterial effects.
                                        <span id="MoreLessP4" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product4" style="display:none;">
                                            It is effects against Trichomonas vaginalis, Gardnerella vaginalis and other protazoa including Entamoeba histolytica, Gardia lamblia, Balantidium coli and Helicobacter pylori and anaerobic bacteria.
                                            Nidapar is a time-tested antibacterial drug for the treatment and prevention of various infections.
                                            <br />Metronidazole should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Metronidazole<br />
                                        @:Nidapar antimikrob və antiprotozoy dərman vasitəsidir.
                                        <span id="MoreLessP4" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product4" style="display:none;">
                                            Trichomonas vaginalis, Gardnerella vaginalis və Entamoeba histolytica, Giardia lamblia, Balantidium coli və digər protozoylara, Helicobacter pylori daxil olmaqla və anaerob bakteriyalara qarşı təsirlidir.Nidapar – zamanla sınanmış, geniş sübut bazasına malik olan, müxtəlif infeksiyaların müalicə və profilaktikası üçün antibacterial dərman vasitəsidir.
                                            <br />Metronidazol həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>


<section class="ls section_padding_top_100 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[162][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden" >
                                <img src="~/lib/pharma/images/Products/NewVersion/fungipar.jpg" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Fungipar<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Fluconazole 150 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        <b>International nonproprietary name:</b> @:Fluconazole <br/>
                                        @:Fungipar is antifungal drug from the triazole group for systemic use. Fluconazole belongs to the 3rd generation of antifungal drugs and was synthesized in 1982.
                                        <span id="MoreLessP2" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product2" style="display:none;">
                                            It is effective in fungal diseases caused by Candida spp., Microsporum spp., Cryptoccus neoformans, Trichophyton spp., Blastomyces dermatitidis, Coccidiodes immitis and Histoplasma capsulatum. Fungipar - healthy life without fungal infections!
                                            <br />Fungipar should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Fungipar (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        <b>Beynəlxalq patentləşdirilməmiş adı:</b> @:Flukonazol <br />
                                        @:Fungipar - triazol qrupundan sistem təsirli göbələk əleyhinə vasitədir.Flukonazol göbələk əleyhinə dərmaların 3 - cü nəslinə aiddir və 1982 - ci ildə sintez edilmişdir.
                                        <span id="MoreLessP2" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product2" style="display:none;">
                                            Candida spp., Microsporum spp., Cryptoccus neoformans, Trichophyton spp., Blastomyces dermatitidis, Coccidiodes immitis və Histoplasma capsulatum tərəfindən törədilən göbələk xəstəliklərində effektivdir.Fungipar - göbələk infeksiyasız sağlam həyat!
                                            <br />Fungipar həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Fungipar (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "ru")
                                    {
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[163][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Rosapar<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Rosuvastatin 10,20 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name: </b> Rosuvastatin <br />
                                        @:Rosapar<sup>®️</sup> -  is antilipemic agent from the group of 4th generation statins. 
                                        <span id="MoreLessP5" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product5" style="display:none;">
                                            The active substance of the drug is rosuvastatin. Rosapar<sup>®️</sup> should be prescribed by a doctor, read the instructions before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Rosuvastatin <br />
                                        @:Rosapar<sup>®️</sup>  –  IV nəsil statinlər qrupundan, hipolipidemik vasitədir.
                                        <span id="MoreLessP5" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product5" style="display:none;">
                                             Preparatın təsiredici maddəsi – rozuvastatindir. Rosapar<sup>®️</sup> həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl təlimatla tanış olun.
                                            @*<br />Tamsulosin həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="#" target="_blank">təlimatla</a> tanış olun.*@
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Products/NewVersion/rosapar.jpg"/>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[164][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Diasmet<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Metformin 850 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name:</b> Metformin<br />
                                        @:Diasmet<sup>®️</sup> - treatment  of  type  2  diabetes  mellitus, 
                                        <span id="MoreLessP1" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product1" style="display:none;">
                                            particularly  in  over  weight  patients,  when  dietary management and exercise alone does not result in adequate glycaemic control. Diasmet<sup>®️</sup> should be prescribed by a doctor, read the instructions before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Metformin<br />
                                        @:Diasmet<sup>®️</sup> 2-ci tip şəkərli diabetdən əziyyət çəkən pasiyentlərin müalicəsində, 
                                        <span id="MoreLessP1" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product1" style="display:none;">
                                            pəhrizlə tənzimləmə və sadəcə fiziki hərəkətlərlə qandakı qlükozanın nəzarət altına alınması mümkün olmadığı təqdirdə istifadə olunur. Xüsusilə artıq bədən kütləli pasiyentlərdə istifadə olunur. Diasmet<sup>®️</sup> həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl təlimatla tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Products/NewVersion/diasmet.jpg" />
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header PartTitles">
                    @ViewBag.DictStr[165][@ViewBag.LanguageID]
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 section_padding_top_0">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/lib/pharma/images/Products/NewVersion/tamorin.jpg"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Tamurin<sup>®️</sup></span><br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Tamsulosin 0.4 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name: </b> Tamsulosin<br />
                                        @:Tamsulosin is an α-blocker
                                        <span id="MoreLessP6" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product6" style="display:none;">
                                            that quickly relieves the symptoms of benign prostatic hyperplasia and improves the quality of life of patients.
                                            <br />Tamsulosin should be prescribed by a doctor, read the
                                            @*<a href="~/lib/pharma/images/Products/Docs/Tamurin (30.10.2020) print.pdf" target="_blank">instructions</a> before use.*@
                                            <a href="#" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Tamsulosin<br />
                                        @:Tamsulosin - prostat vəzinin xoşxassəli hiperplaziya simptomlarını 
                                        <span id="MoreLessP6" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product6" style="display:none;">
                                            tez aradan qaldıran və pasientlərin həyat keyfiyyətini yaxşılaşdıran α-blokatordur.
                                            @*<br />Tamsulosin həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Tamurin (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.*@
                                            <br />Tamsulosin həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="#" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#MoreLessP1").click(function () {
                $("#MoreLessP1").hide();
                $("#Product1").show();
            });
            $("#MoreLessP2").click(function () {
                $("#MoreLessP2").hide();
                $("#Product2").show();
            });
            $("#MoreLessP3").click(function () {
                $("#MoreLessP3").hide();
                $("#Product3").show();
            });
            $("#MoreLessP4").click(function () {
                $("#MoreLessP4").hide();
                $("#Product4").show();
            });
            $("#MoreLessP5").click(function () {
                $("#MoreLessP5").hide();
                $("#Product5").show();
            });
            $("#MoreLessP6").click(function () {
                $("#MoreLessP6").hide();
                $("#Product6").show();
            });
        });
    </script>
}
