
@{
    ViewData["Title"] = "Products";
}


<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    @*@ViewBag.DictStr[99][@ViewBag.LanguageID]*@
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="PartTitles">
                    @ViewBag.DictStr[99][@ViewBag.LanguageID]
                </h3>

                <p>
                    @ViewBag.DictStr[100][@ViewBag.LanguageID]
                </p>
                <p>
                    @ViewBag.DictStr[101][@ViewBag.LanguageID]
                </p>
                <p>
                    @ViewBag.DictStr[102][@ViewBag.LanguageID]
                </p>
                <ul>
                    <li>
                        @ViewBag.DictStr[103][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[104][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[105][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[106][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[107][@ViewBag.LanguageID]
                        <ul>
                            <li>
                                @ViewBag.DictStr[108][@ViewBag.LanguageID]
                            </li>
                            <li>
                                @ViewBag.DictStr[109][@ViewBag.LanguageID]
                            </li>
                        </ul>
                    </li>
                    <li>
                        @ViewBag.DictStr[110][@ViewBag.LanguageID]
                        
                    </li>
                    <li>
                        @ViewBag.DictStr[111][@ViewBag.LanguageID]
                    </li>
                    <li>
                        @ViewBag.DictStr[112][@ViewBag.LanguageID]
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>







