@model IEnumerable<ParlaFarmaMVCCore.Models.Dictionary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CPanel/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RU)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RU)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Cpanel/Dictionaries" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-controller="Cpanel/Dictionaries" asp-route-id="@item.Id">Details</a> @*|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
