@model IEnumerable<ParlaFarmaMVCCore.Models.Slider>

@{
    ViewData["Title"] = "Index";
    
}
<h1>Index</h1>

<p>
    <a href="~/CPanel/Sliders/Create" class="nav-link text-dark" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButtonText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButtonLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string LangStr = "";
                    @if (@item.Lang == 1)
                    {
                        LangStr = "EN";
                    }
                    else if (@item.Lang == 2)
                    {
                        LangStr = "AZ";
                    }
                    else if (@item.Lang == 3)
                    {
                        LangStr = "RU";
                    }
                }
                @Html.Label(LangStr)
                @*@Html.DisplayFor(modelItem => item.Lang)*@
            </td>
            <td>
                <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" style="width:100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="CPanel/Sliders">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="CPanel/Sliders">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="CPanel/Sliders">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
